:host {
  background-color: #f0f2f5;
}
ion-content {
  --background: #f0f2f5;
}
* {
  font-family: "Poppins";
}
.custom-row {
  border-bottom: 1px solid rgba(100, 100, 111, 0.05);
  box-shadow: 1px -2px 7.3px 0px rgba(157, 126, 126, 0.2588235294);
  padding: 4px !important;
}

.custom-col {
  padding: 4px 9px;
  font-size: 12px;
  font-weight: 400 !important;
  font-family: "Poppins";
  flex-shrink: 0;
  cursor: pointer;
}
.custom-col {
  border-radius: 30px !important;
}

.leads-card {
  background: #ffffff;

  h2 {
    color: #73322d;
  }
  .active-col {
    background: #fff6f5;
    border-color: #a87773;
  }
  border-color: #a87773;
}
.card-count {
  position: absolute;
  right: 0px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}
ion-item::part(native) {
  --inner-padding-end: 0 !important;
  --padding-start: 0 !important;
}

.label {
  margin-bottom: 0;
  color: #8a8a8a !important;
  font-size: 0.714rem;
}
.value {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
}
