ion-content {
  --background: #f8fafd;
}
* {
  font-family: "Poppins";
}

.sale-resale-rental-row {
  span {
    font-size: 14px;
  }
  .active_btn {
    background: linear-gradient(180deg, #ffffff 0%, #d3ebff 100%) !important;
    border-bottom: 1px solid #1366a5 !important;
    box-shadow: none;
    span {
      color: #005d8c !important;
    }
  }
}
.custom-row {
  border-bottom: 1px solid rgba(100, 100, 111, 0.05);
  // box-shadow: 1px -2px 7.3px 0px rgba(157, 126, 126, 0.2588235294);
  background: white;
  padding: 4px !important;
}

.custom-col {
  padding: 4px 9px;
  font-size: 12px;
  font-weight: 400 !important;
  font-family: "Poppins";
  flex-shrink: 0;
  cursor: pointer;
}
.custom-col {
  border-radius: 30px !important;
}

.leads-card {
  background: #ffffff;

  h2 {
    color: #73322d;
  }
  .active-col {
    background: #fff6f5;
    border-color: #a87773;
  }
  border-color: #a87773;
}
.card-count {
  position: absolute;
  right: 0px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.8rem;
}
ion-item::part(native) {
  --inner-padding-end: 0 !important;
  --padding-start: 0 !important;
}

.label {
  margin-bottom: 0;
  color: #8a8a8a !important;
  font-size: 0.714rem;
}
.value {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
}

//FILTER
.filter-modal::part(content) {
  border-radius: 16px;
}

.filter-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

/* Header */
.filter-header {
  font-size: 22px;
  font-weight: 500;
  padding: 6px 13px;
  border-bottom: 1px solid #eee;
}

/* Body */
.filter-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Left Menu */
.filter-left {
  width: 40%;
  background: #f5f5f5;
  overflow-y: auto;
}

.menu-item {
  padding: 10px;
  font-size: 14px;
  color: #444;
}

.menu-item.active {
  background: #0b7ab2;
  color: #fff;
  font-weight: 400;
}

/* Right Content */
.filter-right {
  width: 60%;
  padding: 10px;
  overflow-y: auto;
  max-height: 100%;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

/* Footer */
.filter-footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-top: 1px solid #eee;
}

.clear-btn {
  flex: 1;
  margin-right: 8px;
  border-radius: 20px;
  --border-color: #838383;
  background: #ffffff;
  color: #838383;
  text-transform: none;
  --border-radius: 29px !important;
}

.apply-btn {
  flex: 1;
  --border-radius: 29px !important;
  --background: #0b7ab2;
  text-transform: none;
  color: #ffffff;
}

.custom-row {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  font-size: 13px;
}
.filter-right ion-checkbox {
  --size: 16px; /* default is bigger */
  margin-right: 6px;
  --border-color-checked: #0b7ab2;
  --checkbox-background-checked: #0b7ab2;
}

.filter-right ion-label {
  font-size: 14px;
}
.search-style {
  position: sticky;
  top: -10px;
  padding: 0;
  z-index: 999;
}
ion-modal.filter_modal::part(content) {
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
  --background: #f5f7fa;
}
ion-modal.filter_modal {
  --backdrop-opacity: 0.7;
  padding-top: 72px;
}
.filterIcon label {
  background: #ececec;
  width: 20px;
  border-radius: 8px;
  opacity: 0.4;
}

.floatting-icon {
  position: absolute;
  width: 50px;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  padding: 5px;
  --ionicon-stroke-width: 60px;
}
.scroll-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 4px;
  background-color: #f8fafd;
}

.scroll-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar (Chrome) */
}

.scroll-col {
  flex: 0 0 auto;
  width: auto;
  white-space: nowrap;
  padding: 4px 10px;
}

.filterButtons ion-col {
  color: #0b7ab2;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
  border: 0.5px #0b7ab2 solid;
  border-radius: 4px;
  height: 26px;
  min-height: 26px;
}
.scroll-col {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  padding: 4px 10px;
}

.filterButtons ion-col {
  color: #0b7ab2;
  font-size: 12px;
  border: 0.5px #0b7ab2 solid;
  border-radius: 4px; /* 🔥 better chip look */
  height: 26px;
}
.filterIcon label {
  background: #ececec;
  width: 20px;
  border-radius: 8px;
  opacity: 0.4;
}
.date_range {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px 4px;
  border-radius: 5px;
  border: 1px solid #474444;
}
.date_range span {
  color: #141313;
  font-size: 3.4vw;
  font-family: "Poppins";
}

::ng-deep .p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}

.date_range.border_color_red {
  border: 1px solid red !important;
  span {
    color: red !important;
  }
}
::ng-deep p-calendar input {
  top: 15px;
  left: 10px;
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}
//End
