* {
  font-family: "Poppins" !important;
}

.logo::part(image) {
  border-radius: 3px !important;
  width: 30px;
  height: 30px;
}
::ng-deep
  .details_units_row
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger {
  width: 22px !important;
}
::ng-deep .details_units_row p-dropdown.exec_css .p-inputwrapper span {
  font-size: 3.6vw;
  font-family: "Poppins";
  color: #474747;
}
::ng-deep .details_units_row p-dropdown.exec_css .p-inputwrapper {
  border-radius: 30px;
}

::ng-deep p-dropdown.exec_css .p-inputwrapper span {
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
  color: #474747;
}

::ng-deep p-dropdown.exec_css .p-inputwrapper {
  width: 100% !important;
  border: 0.6px solid #dfdfdf;
}

::ng-deep p-dropdown.exec_css .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}

::ng-deep
  p-dropdown.exec_css
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
  color: #474747;
}

::ng-deep .exec_css .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 12px;
}

.total_units_col .card {
  background: linear-gradient(79.36deg, #ffffff 43.68%, #eff9fe 95.61%);
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 7px 0px #959da533;
}

.available_units_col .card {
  background: linear-gradient(78.44deg, #ffffff 42.18%, #f1ffee 99.11%);
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 7px 0px #959da533;
}
.total_booked_col .card {
  background: linear-gradient(77.02deg, #ffffff 43.53%, #e7e4ff 100%);
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 7px 0px #959da533;
}
.cancelled_bookings_col .card {
  background: linear-gradient(77.65deg, #ffffff 41.02%, #ffe9e7 99.5%);
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 7px 0px #959da533;
}

.agreement_payment_registration .card {
  box-shadow: 0px 1px 7px 0px #959da533;
  border: 1px solid #ffffff !important;
}
.agreement_col {
  background: linear-gradient(180deg, #ffffff 0%, #ffdfac 100%);
}
.payment_col {
  background: linear-gradient(180deg, #ffffff 0%, #ffc79f 100%);
}
.registration_col {
  background: linear-gradient(180deg, #ffffff 0%, #b5deff 100%);
}

.resale_col .card {
  background: linear-gradient(77.83deg, #ffffff 41.13%, #fff3ea 99.26%);
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 7px 0px #959da533;
}
.sold_units_col .card {
  background: linear-gradient(75.68deg, #ffffff 47.23%, #ffefed 98.44%);
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 7px 0px #959da533;
}
.card ion-img {
  position: absolute;
  right: 0 !important;
}

.card div {
  font-size: 10px;
  margin: 10px 5px 2px 4px;
}

.card p:first-child {
  font-size: 10px;
  font-weight: 400;
}

.card h1 + p span {
  font-weight: 600;
}

.card h1 + p {
  font-size: 10px !important;
  font-weight: 400;
}

.card h1 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 6px;
  color: #424242;
  font-family: "Poppins";
}

.card p:first-child {
  color: #3d3d3d;
  font-weight: 400;
  font-family: "Poppins";
}

// ion-content.main-content {
//   --padding-top: 10px;
//   --padding-bottom: 10px;
//   --padding-start: 10px;
//   --padding-end: 10px;
// }
.report_download_col div {
  border: 0.5px solid #00476a;
  color: #00476a;
  border-radius: 30px;
  height: 100%;
  font-family: "Poppins";
  font-size: 12px;
}
.report_download_col ion-img {
  padding-left: 2px;
}
.report_download_col {
  padding: 6px 2px;
}

.isTableView {
  border: 1px solid white;
  border-radius: 25px;
  background: #0b7ab2;
  color: white;
  border: 1px solid #0b7ab2;
}

.tableBlockView {
  border: 0.5px solid #d7d7d7;
  border-radius: 25px;
  color: #0b7ab2;
  width: 100%;
  box-shadow: 0px 2px 24px 0px #959da533;
}
.detail_units {
  font-size: 1rem;
  font-family: "Poppins";
}
.details_units_row p-dropdown {
  width: 100%;
}
.reset-icon ion-icon {
  background-color: white;
  font-size: 24px;
  border-radius: 30px;
  color: #a1a5ac;
  padding: 2px;
}

.serach {
  padding-left: 0;
}
.tableView-details-card {
  margin: 0 6px;
  border: 0.4px solid #e5e5e5;
  box-shadow: 0px 1px 4px 0px #959da533;

  margin-bottom: 10px;
  border: 1px solid #ffffff !important;
}
.tableView-details-row ion-col {
  line-height: 0.1;
  span {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #424242;
  }
}
.tableView-details-row {
  margin-bottom: 10px;
}
.tableView-details-header ion-col {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 10px;
}
.tableView-status-row {
  background: linear-gradient(90deg, #d8fbd3 0%, #ffffff 116.64%);
}
.img-end {
  width: 25px;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}
.blockView-details-card {
  margin: 0;
  box-shadow: 0px 1px 10px 4px rgba(149, 157, 165, 0.2);
}

.floor-summary-row {
  align-items: center;

  .summary-title {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    color: #000;
  }

  .summary-sold {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    color: #c0392b; // red shade
    text-align: right;
  }

  .summary-available {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins";
    color: #27ae60;
    text-align: right;
  }
}
.blockViewProp-details {
  background: #f9f8f8;
  border: 0.6px solid #dbdbdb;
  border-radius: 4px;
  margin: 5px;
  padding: 10px 5px;
}
.blockViewProp-details ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blockViewProp-details ion-row {
  gap: 18px;
}
.available-prop {
  background: #d1ffc9;
  border: 0.5px solid #006900;
  border-radius: 4px;
  padding: 2px;
  p {
    font-family: "Poppins";
    font-weight: 600;
    font-style: Medium;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    color: #006900;
  }
  .status-badge {
    color: #006900;
    background: #d1ffc9;
  }
}
.sold-prop {
  background: #fff1ef;
  border: 0.5px solid #b14a41;
  border-radius: 4px;
  padding: 2px;
  p {
    font-family: "Poppins";
    font-weight: 600;
    font-style: Medium;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    color: #b14a41;
  }
  .status-badge {
    color: #b14a41;
    background: #fff1ef;
  }
}

.tower-row {
  ion-col div {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
    border-width: 0.6px 0.6px 0px 0.6px;
    border-style: solid;
    border-color: #00496e;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins";
  }
}
.selectedTower {
  color: #00496e;
  background: #a2e0ff;
}

.status-badge {
  border: 1px solid;
  border-radius: 30px;
  padding: 3px;
  height: 10p;
  font-size: 14px !important;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-weight: 600;
}
.sqrt {
  font-weight: 200 !important;
}

.sold_bg_text_color {
  background: linear-gradient(90deg, #ffd1cd 0%, #ffffff 116.64%);
  color: #b14a41;
}

.cancelled_bg_text_color {
  background: linear-gradient(90deg, #ffb9b9 0%, #ffffff 116.64%);
  color: #bd0009;
}

.registration_bg_text_color {
  background: linear-gradient(90deg, #fff0d8 0%, #ffffff 116.64%);
  color: #f39c12;
}

.lld_bf_text_color {
  background: linear-gradient(90deg, #cfefff 0%, #ffffff 116.64%);
  color: #0081e9;
}

.available_bg_text_color {
  background: linear-gradient(90deg, #d8fbd3 0%, #ffffff 116.64%);
  color: #0c7300;
}

.custom-bottom-modal .block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editing-data-header {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #4c4c4c;
  ion-col {
    padding-bottom: 0;
  }
}
::ng-deep .custom-bottom-modal .ion-delegate-host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  height: 80vh;
}

.editing-data-row {
  p-dropdown {
    width: 100%;
  }
  ion-col {
    padding-top: 0;
  }
  ion-textarea,
  input,
  ion-input {
    border: 0.5px solid #e5e7eb;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
  }
  input,
  ion-input {
    height: 30px;
    font-size: 0.9rem;
  }

  div {
    border-radius: 4px;
    padding-left: 4px;
    display: flex;
    justify-content: space-between;
    border: 0.6px solid #dfdfdf;
    padding: 0 4px;
    border-radius: 2px;
  }
  .sqft {
    color: #838383;
    font-weight: 200;
    font-family: "Poppins";
    font-size: 12px;
  }
  span {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}

::ng-deep .editing-data-row p-dropdown.exec_css .p-inputwrapper span {
  // padding: 0.4vw 1vw;
  font-size: 14px !important;
  font-weight: 400;
  font-family: "Poppins";
  color: #000000;
}
.editOrSaving-bookigData,
.editOrSaving-saleAgreementData,
.editOrSaving-loanDisbursement {
  div.booking,
  .agreement-div,
  .loan-disbursed-div {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background: #fdfdfd;
    margin: 10px;
  }
}

.editing-data-row p-dropdown.pointer_eventsNone .p-inputwrapper span {
  color: #b3b7bb;
}
.cancelSold-btn .cancel-btn div {
  width: 100%;
  border: 1px solid #0b7ab2;
  color: #0b7ab2;
  border-radius: 4px;
  padding: 6px 2px;
}

.saveContinue-btn ion-button {
  border-radius: 4px;
}

.unit-update-status {
  background: #00476a;
  color: white;
}

.unit-status-button {
  span {
    background: white;
    color: #0059a1;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding-left: 7px;
  }
}

::ng-deep .edit-unit-details-data p-dropdown.exec_css .p-inputwrapper span {
  padding: 0.4vw 1vw;
  font-size: 16px !important;
  font-family: "Poppins";
  color: #474747;
}
.custom-file-input {
  opacity: 0;
  position: absolute;
}
.bookedLead-uploadedfile {
  border: 1px solid #0b7ab2;
  border-radius: 2px;
  div {
    color: #050505;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    /* Shrinks with parent */
    display: block;
  }
  ion-col {
    border-right: 1px solid #0b7ab2;
  }
  ion-icon {
    font-size: 22px;
    color: #0b7ab2;
  }
  margin: 0 6px;
}
.uploading-file {
  span {
    color: #727886;
  }
  border: 0.8px solid #b4b4b4;
  border-radius: 2px;
  margin: 4px;
}

.approve-reject-booking-btn,
.agreement-btn,
.loan-disbursed {
  font-family: "Poppins";
  div {
    color: #b8b5bd;
    border: 0.6px solid #a8a8a8;
    border-radius: 4px;
    padding: 2px;
  }
  span {
    color: #4c4c4c;
  }
  ion-row ion-col:first-child {
    padding-bottom: 0;
  }
  ion-col {
    padding-top: 0;
  }
}

.approved-btn {
  background: #006900;
  color: white;
}
.rejected-btn {
  background: #fa4838;
  color: white;
}
.booking {
  ion-input {
    border: none !important;
  }
}
.cancel-booking-div {
  border: 1px solid #dfdfdf;
  background: #fafdff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  .cancel-text {
    color: #3f3f3f;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
  }
  .waring-text {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
    color: #003652;
    line-height: 18px;
  }
}

.checkboxcss {
  --border-radius: 4px;
  --border-width: 1px;
  --size: 18px;
  --checkbox-background: rgba(225, 242, 255, 1);
  --border-color: rgba(11, 122, 178, 1);
  --checkbox-background-checked: rgba(11, 122, 178, 1);
}
ion-input[readonly] {
  --background: #f9f9f9;
  --color: #555;
  --padding-start: 8px;
  border-radius: 6px;
  opacity: 0.9;
  pointer-events: none;
}
::ng-deep .exec_css .p-dropdown-label.p-placeholder {
  color: #9da1ab !important;
  font-size: 0.68rem !important;
}
ion-input {
  --placeholder-color: #9e9e9e;
  --placeholder-opacity: 1;
}

// ::ng-deep .leadSearch .searchbar-input-container input[type="search"] {
//   padding: 0px 0px 0px 22px !important;
//   border: 0.6px solid #dfdfdf;
//   border-radius: 6px;
//   font-size: 0.8rem;
//   height: 27px;
// }

// ::ng-deep ion-searchbar.leadSearch .searchbar-search-icon.sc-ion-searchbar-md {
//   inset-inline-start: 2px !important;
// }

// ::ng-deep .leadSearch .searchbar-search-icon.sc-ion-searchbar-md {
//   top: 2px;
//   width: 18px !important;
// }
// .leadSearch {
//   padding: 0;
// }

// ::ng-deep .leadSearch .searchbar-input-container {
//   --box-shadow: none !important;
// }

::ng-deep p-autocomplete.leadSearch .p-autocomplete-input {
  width: 100% !important;
  font-size: 14px;
  border: 0.6px solid #dfdfdf;
  border-radius: 6px;
  padding: 2px;
}
::ng-deep p-autocomplete.leadSearch .p-autocomplete-empty-message {
  padding: 2px;
  font-size: 14px;
}
::ng-deep p-autocomplete.leadSearch .p-autocomplete-input:focus {
  outline: none !important;
  box-shadow: none;
}

::ng-deep p-autocomplete.leadSearch .p-autocomplete-item {
  padding: 2px 6px;
  font-size: 14px;
}
.pointer_eventsNone {
  filter: blur(0.6px);
  pointer-events: none;
  cursor: none;
}

::ng-deep .pointer_eventsNone p-autocomplete.leadSearch .p-autocomplete-input {
  background: #f8f9fa;
}

::ng-deep .pointer_eventsNone .p-inputwrapper {
  background: #f8f9fa !important;
}

::ng-deep .editing-data-row p-dropdown.pointer_eventsNone .p-inputwrapper span {
  color: #c3c9d0 !important;
}
::ng-deep .pointer_eventsNone .p-autocomplete .p-inputtext::placeholder {
  color: #c3c9d0 !important;
  opacity: 1;
}
.error-text {
  font-size: 0.68rem;
}

.booking-editing {
  background: #fff6e8;
  span {
    color: #b26d00;
  }
}
.sale-agreement-editing {
  background: #ddd8ff;
  span {
    color: #3e29e0;
  }
}
.loanDisbursement-editing {
  background: #c1e3fe;
  span {
    color: #0059a1;
  }
}
.registration-editing {
  background: #ffecdf;
  span {
    color: #ff8a36;
  }
}

.stage-completed {
  background: #d1ffc9;
}

.stage-completed span {
  color: #006900;
}

.border-left {
  border-left: 0.5px solid #9cd29c;
}
.stage {
  background: #efefef;
  span {
    color: #606060;
  }
}

.completedStage-bg-text-color {
  background: #d1ffc9;
  span {
    color: #006900 !important;
  }
}

.pendingStage-bg-text-color {
  background: #efefef;
  span {
    color: #606060;
  }
}

.updatingStage-bg-text-color {
  background: #c2e3fe;
  span {
    color: #0059a1;
  }
}
.saleAgreementStage-bg-text-color {
  background: #ddd8ff;
  span {
    color: #3e29e0;
  }
}
.loanDisbursement-bg-text-color {
  background: #c2e3fe;
  span {
    color: #0059a1;
  }
}
.registration-bg-text-color {
  background: #ffecdf;
  span {
    color: #ff740f;
  }
}

.active {
  background: #0b7ab2;
  color: #ffffff !important;
}
::ng-deep .native-wrapper textarea {
  padding: 0 !important;
}

.value {
  font-size: 0.8rem !important;
  color: #727272 !important;
  ion-label {
    font-size: 0.8rem;
    color: #727272;
  }
}
.head-row {
  color: #4c4c4c;
  span {
    font-size: 0.8rem;
  }
}
.paymentMode-radio-btn {
  font-size: 0.9rem;
  color: #727272;
}
ion-radio.small-radio {
  transform: scale(0.8); // reduce size (0.7, 0.6 as needed)
}
#date {
  border: none !important;
}
.date-input {
  height: 34px !important;
}

ion-input {
  font-size: 0.9rem;
  min-height: 0 !important;
}
::ng-deep ion-input .native-wrapper {
  padding-left: 2px;
}

::ng-deep ion-input .input-wrapper {
  padding-left: 0;
}
.input-with-image ion-input::after {
  right: 0px !important;
}
.add-bank-btn {
  ion-icon {
    color: #00476a;
  }
  color: #00476a;
  display: flex;
  align-items: center;
  justify-content: end;
}
.disable-style {
  ion-input,
  span {
    color: #9c9c9c !important;
  }
  background-color: #f8f9fa !important;
}
.custom-bottom-modal {
  // --height: auto;
  --border-radius: 4px 4px 0 0;
  align-items: flex-end;
}

.custom-bottom-modal::part(content) {
  max-height: 80vh;
  // overflow-y: auto;
}
// .custom-bottom-modal form {
//   max-height: 90vh;
//   overflow-y: auto;
// }

.backstageActive-btn {
  background: #3d913d;
  span {
    color: white;
  }
}

.modal-main-container {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  overflow: hidden;
}

.modal-content-scroll {
  flex: 1; /* Takes up all available space */
  overflow-y: auto; /* Enables scrolling for the form only */
  overflow-x: hidden;
  padding-bottom: 20px;
}

.cancelSold-btn {
  background: #fff;
  border-top: 1px solid #eee;
  /* Ensures the buttons stay at the bottom */
  position: sticky;
  bottom: 0;
  z-index: 10;
}

/* Optional: Smooth scrolling for iOS */
.modal-content-scroll {
  -webkit-overflow-scrolling: touch;
}

::ng-deep .pointer_eventsNone p-autocomplete.leadSearch .p-autocomplete-input {
  color: #c3c9d0 !important;
}
.date_range {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px 4px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
.date_range span {
  color: #8a8a8a;
  font-size: 3.4vw;
  font-family: "Poppins";
}

::ng-deep .p-datepicker table td > span.p-highlight {
  color: #e6eaed !important;
  background: rgb(11 122 178) !important;
}

.date_range.border_color_red {
  border: 1px solid red !important;
  span {
    color: red !important;
  }
}
::ng-deep p-calendar input {
  top: 15px;
  left: 10px;
  position: absolute !important;
  opacity: 0 !important;
  pointer-events: none !important;
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}

.sold_form {
  .sold_head {
    font-weight: 400;
    font-size: 12px;
    color: #4c4c4c;
  }
  .sold_value {
    font-weight: 400;
    font-size: 12px;
  }

  .sold_data {
    background: #efefef;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    margin: 7px;
  }
  .unit_num .sold_head {
    background: #fafafa;
    border: 0.6px solid #f0f0f0;
    padding: 4px;
    border-radius: 4px;
  }
  .unit_status .sold_head {
    width: 40%;
    padding: 6px 12px;
    background: #0b7ab2;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 2px;
    text-align: center;
  }
  .resale_unit {
    background: #c9edff;
    color: #003652;
    margin: 6px;
    border: 1px solid #0b7ab2;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    padding: 6px;
  }
  .sold_remark {
    ion-textarea {
      border: 0.6px solid #c5c5c5;
      border-radius: 4px;
      padding: 2px;
    }
  }
}

.mobile-toast {
  width: 100% !important;
  max-width: 420px; /* keeps it nice on desktop too */
  left: 50% !important;
  transform: translateX(-50%);
  padding: 0 10px;
}

/* Toast box */
::ng-deep .mobile-toast .p-toast-message {
  width: 100%;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Success style */
::ng-deep .mobile-toast .p-toast-message-success {
  background: linear-gradient(135deg, #28a745, #5cd65c);
  color: #fff;
}

/* Text */
::ng-deep .mobile-toast .p-toast-summary {
  font-size: 15px;
  font-weight: 600;
}

::ng-deep .mobile-toast .p-toast-detail {
  font-size: 13px;
}

/* Close icon */
::ng-deep .mobile-toast .p-toast-icon-close {
  font-size: 18px;
}

::ng-deep ion-alert .alert-head {
  padding: 10px !important;
}
::ng-deep ion-alert .alert-message {
  padding: 0 10px !important;
}

.editingForm {
  padding: 8px;
}

ion-content {
  --background: #f0f2f5 !important;
}
.exe_download_btn {
  background: #f0f2f5 !important;
}

::ng-deep .searchUnit_row .searchbar-input {
  border: 0.5px solid #e5e5e5 !important;
  border-radius: 4px !important;
}

::ng-deep
  .searchUnit_row
  ion-searchbar
  .searchbar-input.searchbar-input.sc-ion-searchbar-md {
  font-size: 14px;
  height: 30px;
  padding-inline-start: 2.4375rem;
  padding-inline-end: 2.4375rem;
}

::ng-deep .searchUnit_row .searchbar-search-icon.sc-ion-searchbar-md {
  top: 6px;
}
.searchUnit_row ion-searchbar {
  --box-shadow: none;
  --placeholder-color: #98a2b3;
  --icon-color: #98a2b3;
  padding: 0;
}

::ng-deep .p-dropdown-header {
  padding: 1px !important;
}
::ng-deep .p-dropdown-header searchicon svg {
  width: 10px !important;
}

::ng-deep .p-dropdown-items li {
  padding: 0 2px;
  font-size: 12px;
}

.empty-box {
  font-size: 24px;
  height: 50px;
}
.empty-prop {
  background: #e0f5ff !important;
  color: #0b7ab2 !important;
  border: 1px solid #0b7ab2 !important;
  border-radius: 4px;
  font-weight: 500;
}
