<div>
  <div  class="content_center loader" *ngIf="showSpinner">
    <ion-spinner name="circular" style="color: white;"></ion-spinner>
  </div> 
  
  <div *ngIf="buttonhiders">
    <div class="bg_border_color marginBottom15px" *ngIf="hidebeforefixed">
      <ion-row class="doneRefix">
        <ion-col (click)="svDone?'':onsvDone()">
          <div class="content_center" [ngClass]="svDone?'bg_textColor':''"><span>SV Done</span></div>
        </ion-col>
        <ion-col (click)="svreFix?'':onsvreFix()" *ngIf="(assignedRM && assignedRM[0] && assignedRM[0]?.suggestedprop && assignedRM[0]?.suggestedprop[0]?.actions != '9')">
          <div class="content_center" [ngClass]="svreFix?'bg_textColor':''"><span>Refix SV</span></div>
        </ion-col>
      </ion-row>
    </div>    
  </div>
  <input type="hidden" id="sectionselector">
  <input type="hidden" id="customer_phase4">

  <!-- SV FIXED -->
  <span [hidden]="!svFixed">
    <div class="bg_border_color">
      <div class="col-sm-12 form-group headingdesign">
        <span class="d-flex justify-content-between align-items-baseline">
          <label class="heads">Select Properties For SV </label>
          <label class="addsuggProp" (click)="notifyParent()">
            <ion-icon name="add"></ion-icon><span>Add</span>
          </label>
        </span>
  
        <div class="main_suggested_div">
          <ion-row class="ks-cboxtags">
            <ion-col *ngFor="let property of suggestedpropertylists; let i = index" class="ion-text-center">
              <span *ngIf="(!excludedIds.includes(property.propid)  ) || property.selection === '0'">
                <input type="checkbox" id="svcheckbox{{i}}" value="{{property.propid}}" name='programming1'
                (change)="selectsuggested(i,property.propid,property.name)">
               <label for="svcheckbox{{i}}">{{property.name}}</label>
              </span>            
            </ion-col>
          </ion-row>
          <div *ngIf="!suggestedpropertylists" style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">No Properties Suggested</div>
        </div>
      </div>
   </div>
  
   <div class="bg_border_color margin-top-16">
    <form (ngSubmit)="svfixing()" ngNativeValidate #submitForm="ngForm">
      <ion-row>
        <p class="font-size12-familyPoppins font-colorBlack font-weight500">
          SV Date
        </p>
      </ion-row>       
      <ion-row class="center-content">
          <div lines="none" class="input-with-image date-input">  
            <ion-input readonly [(ngModel)]="svDate"  name="svnextactiondate" id="svnextactiondate" placeholder="Choose Date" required></ion-input>
            <ion-popover trigger="svnextactiondate" #popover>
              <ng-template>
                <ion-datetime presentation="date" locale="en-US"  
                (ionChange)="onDateChange($event);closePopover()"></ion-datetime>
              </ng-template>
            </ion-popover>
          </div>
      </ion-row>
    
      <ion-row class="margin-top-16">
        <p class="font-size12-familyPoppins font-colorBlack font-weight500">
          SV Time
        </p>    
      </ion-row>
      <ion-row class="center-content">
        <div no-lines class="date-input inputTime-with-image">
         <div style="width: 100%;"> <input style="width: 100%;" pInputText placeholder="Choose Time" id="svnextactiontime" aria-label="12hr format" [ngxTimepicker]="default" [(ngModel)]="svTime" name="svnextactiontime" (ngModelChange)="validateTime()" readonly required></div>
        </div>
      </ion-row>
    
      <ngx-material-timepicker #default></ngx-material-timepicker>
      <div *ngIf="timeError" style="color: red; font-size: 12px;">Please select a time between 8 AM and 8 PM.</div>

      <ion-row class="margin-top-16">
        <p  class="heads">
          Visited Properties with Us
        </p>    
      </ion-row>
      <ion-row>
        <ul *ngIf="visitedpropertylists?.length" class="comma-list">
          <li *ngFor="let visited of visitedpropertylists" class="font-size12-familyPoppins">
            {{visited.name}}</li>
        </ul>
      </ion-row>
      <ion-row>
        <div *ngIf="!visitedpropertylists?.length" style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">No Properties Visted With Us</div>
      </ion-row>


      <ion-row class="margin-top-16">
        <p class="font-size12-familyPoppins font-colorBlack font-weight500">Remarks</p>
      </ion-row>
      <ion-row class="custom-textArea">
        <ion-textarea placeholder="Write remarks" id="svtextarearemarks" name="svtextarearemarks"     
        [(ngModel)]="svRemark" (ngModelChange)="checkAlphanumericSpaces()" required></ion-textarea>
      </ion-row>
      <ion-row class="submitForm">
        <ion-col class="paddingZero">
          <ion-button fill="clear" class="saveButton" [ngClass]="submitForm.invalid || hasOnlySpaces?'saveButton':'activeSaveButton'" type="submit"  [disabled]="submitForm.invalid || hasOnlySpaces">Save</ion-button>
        </ion-col>
      </ion-row>
    </form>
    </div>
  </span>

  <!-- SV REFIX -->
  <span [hidden]="!svreFix">
    <div class="bg_border_color">
      <div class="col-sm-12 form-group headingdesign">
        <span class="d-flex justify-content-between align-items-baseline">
          <label class="heads">Select the Suggested Properties for the SV </label>
          <label class="addsuggProp" (click)="notifyParent()">
            <ion-icon name="add"></ion-icon><span>Add</span>
          </label>
        </span>

        <div class="main_suggested_div">
          <ion-row class="ks-cboxtags">
            <ion-col  *ngFor="let property of suggestedpropertylists; let i = index" class="ion-text-center">
              <span *ngIf="property.selection === '4'">
                <input type="checkbox" id="suggestcheckbox{{i}}" value="{{property.propid}}" name='programming' (change)="refixsuggested(i,property.propid,property.name)" checked>
                <label for="suggestcheckbox{{i}}">{{property.name}}</label>
              </span>

              <span *ngIf="property.selection !== '4'">
                <input type="checkbox" id="suggestcheckbox{{i}}" value="{{property.propid}}" name='programming' (change)="refixsuggested(i,property.propid,property.name)">
                <label for="suggestcheckbox{{i}}">{{property.name}}</label>
              </span>            
            </ion-col>
          </ion-row>
          <div *ngIf="!suggestedpropertylists" style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">No Properties Suggested</div>
        </div>
      </div>
    </div>

    <div class="bg_border_color margin-top-16">
      <form  (ngSubmit)="svrefixing()" ngNativeValidate #submitForm="ngForm">
        <ion-row>
          <p class="font-size12-familyPoppins font-colorBlack font-weight500">
            SV Refixed Date
          </p>
        </ion-row>       
        <ion-row class="center-content">
            <div lines="none" class="input-with-image date-input">  
              <ion-input readonly [(ngModel)]="svDate"  name="refixdate" id="refixdate" placeholder="Choose Date" required></ion-input>
              <ion-popover trigger="refixdate" #popover1>
                  <ng-template>
                      <ion-datetime presentation="date" locale="en-US" 
                      (ionChange)="onDateChange($event);popover1.dismiss()"></ion-datetime>
                  </ng-template>
              </ion-popover>
            </div>
        </ion-row>
      
        <ion-row class="margin-top-16">
          <p class="font-size12-familyPoppins font-colorBlack font-weight500">
            SV Refixed Time
          </p>    
        </ion-row>
        <ion-row class="center-content">
          <div no-lines class="date-input inputTime-with-image">
           <div style="width: 100%;"> <input style="width: 100%;" pInputText placeholder="Choose Time" id="refixtime" aria-label="12hr format" [ngxTimepicker]="default2" [(ngModel)]="svTime" name="refixtime" 
            (ngModelChange)="validateTime()"
             readonly required></div>
          </div>
        </ion-row>
      
        <ngx-material-timepicker #default2 ></ngx-material-timepicker>  
        <div *ngIf="timeError" style="color: red; font-size: 12px;">Please select a time between 8 AM and 8 PM.</div>
  
        <ion-row class="margin-top-16">
          <p class="font-size12-familyPoppins font-colorBlack font-weight500">Remarks</p>
        </ion-row>
        <ion-row class="custom-textArea">
          <ion-textarea placeholder="Write remarks" id="refixtextarearemarks" name="refixtextarearemarks" [(ngModel)]="svRemark" (ngModelChange)="checkAlphanumericSpaces()" required></ion-textarea>
        </ion-row>
        <ion-row class="submitForm">
          <ion-col class="paddingZero">
            <ion-button fill="clear" type="reset">Cancel</ion-button>
          </ion-col>
          <ion-col class="paddingZero">
            <ion-button fill="clear" class="saveButton" [ngClass]="submitForm.invalid || hasOnlySpaces?'saveButton':'activeSaveButton'" type="submit"  [disabled]="submitForm.invalid || hasOnlySpaces">Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
      </div>

  </span>

  <!-- SV DONE  -->
  <span [hidden]="!svDone">
    <div class="bg_border_color margin-top-16">
      <div class="col-sm-12 form-group headingdesign">
        <span class="d-flex justify-content-between align-items-baseline">
          <label class="heads">Suggested Properties</label>
          <label class="addsuggProp" (click)="notifyParent()">
            <ion-icon name="add"></ion-icon><span>Add</span>
          </label>
        </span>

        <div class="main_suggested_div">
          <ion-row class="ks-cboxtags" >
            <ion-col *ngFor="let property of suggestedpropertylists; let i = index" class="ion-text-center">
              <span *ngIf="property.selection === '4'">
                <input type="checkbox" id="moresuggestcheckbox{{i}}" value="{{property.propid}}" name='programming' (change)="moresuggested(i,property.propid,property.name)" checked disabled>
                <label for="moresuggestcheckbox{{i}}">{{property.name}}</label>
              </span>
              <span *ngIf="property.selection !== '4'">
                <input type="checkbox" id="moresuggestcheckbox{{i}}" value="{{property.propid}}" name='programming' (change)="moresuggested(i,property.propid,property.name)">
                <label for="moresuggestcheckbox{{i}}">{{property.name}}</label>
              </span>            
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

    <div class="bg_border_color margin-top-16">
      <form ngNativeValidate #submitForm1="ngForm">
        <ion-row>
          <p class="font-size12-familyPoppins font-colorBlack font-weight500">
            Site Visited Date
          </p>
        </ion-row>       
        <ion-row class="center-content">
            <div lines="none" class="input-with-image date-input">  
              <ion-input readonly [(ngModel)]="svDate" name="SVvisiteddate" id="SVvisiteddate" placeholder="Choose Date" required></ion-input>
              <ion-popover trigger="SVvisiteddate" #popover2>
                  <ng-template>
                      <ion-datetime presentation="date" locale="en-US" 
                      (ionChange)="onDateChange($event);popover2.dismiss()"></ion-datetime>
                  </ng-template>
              </ion-popover>
            </div>
        </ion-row>
      
        <ion-row class="margin-top-16">
          <p class="font-size12-familyPoppins font-colorBlack font-weight500">
            Site Visited Time
          </p>    
        </ion-row>
        <ion-row class="center-content">
          <div no-lines class="date-input inputTime-with-image">
           <div style="width: 100%;"> <input style="width: 100%;" pInputText placeholder="Choose Time" id="SVvisitedtime" aria-label="12hr format" [ngxTimepicker]="default1" [(ngModel)]="svTime" name="SVvisitedtime"
            (ngModelChange)="validateTime()" readonly required></div>
          </div>
        </ion-row>
      
        <ngx-material-timepicker #default1 ></ngx-material-timepicker> 
        <div *ngIf="timeError" style="color: red; font-size: 12px;">Please select a time between 8 AM and 8 PM.</div> 
  
        <ion-row>
          
          <!-- <ion-col style="margin-right:2px"  *ngIf="(assignedRM && assignedRM[0] && assignedRM[0]?.suggestedprop && assignedRM[0]?.suggestedprop[0]?.actions != '9')" class="paddingZero" (click)="!submitForm1.invalid?updateSvDone():''">
            <ion-button style="width: 100%;" fill="clear" class="saveButton" [ngClass]="submitForm1.invalid?'saveButton':'activeSaveButton'" type="submit"  [disabled]="submitForm1.invalid">
              SV Done
            </ion-button>
          </ion-col> -->
          <ion-col style="margin-left:2px" class="paddingZero" (click)="!submitForm1.invalid?openSVDoneModal():''">
            <ion-button style="width: 100%;" fill="clear" class="saveButton" [ngClass]="submitForm1.invalid?'saveButton':'activeSaveButton'" type="submit"  [disabled]="submitForm1.invalid">
              Update Visit
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div> 
  </span>

   <!-- VISIT UPDATE MODAL -->
   <ion-modal trigger="open-modal" #svDoneModel style="--background:#F5F7F9">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-row class="heading">
            <ion-col size="2" class="content_center" (click)="onUpdateBackbutton();svDoneModel.dismiss();">
              <ion-icon name="arrow-back" class="backButton"></ion-icon>
            </ion-col>
            <ion-col size="9" class="content_center">
              <span style="font-family: 'Poppins';">Property Visit Update</span>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>  
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" style="--background:#f5f7f9">    
        <div  class="content_center loader" *ngIf="showSpinner">
          <ion-spinner name="circular" style="color: white;"></ion-spinner>
        </div>       
      <ion-accordion-group allowMultiple="false" *ngFor="let suggested of selectedpropertylists; 
        let i = index; let last = last;">
        <ion-accordion value="first">
          <ion-item slot="header" color="light" id="visitUpdate{{i}}" class="">
            <ion-label  class="item lists projectlists{{i}}"
              [ngClass]="{'active': selectedItem === i}" (click)='selectedItem = i; nextoverride(i);' data-toggle="tab">                 
                {{suggested.name}}     
            </ion-label>
            <!-- <ion-img *ngIf="isDoneVisitUpdate(i)" src="../../../assets/CRMimages/visitsUpdateDone-icon.svg">
            </ion-img>
            <ion-img *ngIf="isNotDoneVisitUpdate(i)" src="../../../assets/CRMimages/visitsUpdateNotDone-icon.svg">
            </ion-img> -->
          </ion-item>

          <div slot="content" class="content">
            <div id="selector{{i}}" class="lists tab-pane m-0" [ngClass]="{'active': selectedItem === i}">
              <div class="wrapper">
              <ion-row class="interestedNot">
                <ion-col>
                  <div class="content_center">
                    <input type="radio" class="radiocheck" name="select1-{{i}}" value="1BHK" id="option-1-{{i}}" (click)="notvisitclick(suggested.propid,suggested.name,i,last)">
                    <label style="padding: 3px;" for="option-1-{{i}}" class="option option-1-{{i}} content_center">
                      <span>Not Visited</span>
                    </label>
                    </div>
                </ion-col>
                <ion-col>
                  <div class="content_center option option-2-{{i}}">
                    <input type="radio" class="radiocheck" name="select1-{{i}}" value="2BHK" id="option-2-{{i}}" (click)="interestclick(suggested.propid,suggested.name,i)">
                    <label style="padding: 3px;" for="option-2-{{i}}" class="option option-2-{{i}} content_center">
                      <span>Interested</span>
                    </label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="content_center">
                    <input type="radio" class="radiocheck" name="select1-{{i}}" value="3BHK" id="option-3-{{i}}" (click)="notinterestclick(suggested.propid,suggested.name,i)">
                    <label style="padding: 3px;" for="option-3-{{i}}" class="option option-3-{{i}} content_center">
                      <span>Not Interested</span>
                    </label>
                  </div>
                </ion-col>
              </ion-row>
              <input type="hidden" id="selectedunits-{{i}}">                           
            </div>
            <ion-row>
              <ion-col>
                  <input type="text" class="form-control directteam visitupdatearea{{i}} visitupdatecommon" id="accompaniedname{{i}}"  
                  (input)="accompanycheck($event,suggested.propid,i)" 
                  placeholder="Please Mention the Accompanied Person Name" />
              </ion-col>
            </ion-row>
            <ion-row class="custom-textArea">
            <ion-col>
              <textarea class="form-control visitupdatearea{{i}} visitupdatecommon" 
              id="propertyremarks{{i}}" (input)="visitremarkscheck($event,suggested.propid,i)" placeholder="Write About the Sitevisit"></textarea>
            </ion-col>
            </ion-row>
          </div>
        </div>          
      </ion-accordion>
      </ion-accordion-group>       
      <div *ngIf="lockedsession" class="margin-top-16">
        <div class="bg_border_color marginBottom15px">
          <ion-row class="nexrActionCss">
            <ion-col>
              <span>
                Select the Next Action
              </span>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <div class="stages">
              <span [ngClass]="followdownform?'bg_textColor':''" (click)="followupdownbtn()">
                Follow Up</span>        
            </div>  
            <div class="stages">
              <span [ngClass]="svform?'bg_textColor':''" (click)="onsvFixedmodal()">SV</span>
            </div>
            <div class="stages">
              <span [ngClass]="rsvform?'bg_textColor':(proploopArray?.length <= 0)?'textopacity':''" (click)="(proploopArray?.length <= 0)?'': onrsvFixed()">RSV</span>
            </div>
            <div class="stages">
              <span [ngClass]="finalnegoform?'bg_textColor':(proploopArray?.length <= 0)?'textopacity':''" 
              (click)="(proploopArray?.length <= 0)?'':onnegofixed()">FN</span>
            </div>
            <div class="stages" *ngIf="feedbackID != '1'">
              <span [ngClass]="leadclosedform?'bg_textColor':(proploopArray?.length <= 0)?'textopacity':''"  
              (click)="(proploopArray?.length <= 0)?'':onleadclosed()">Closed</span>
            </div>
            <div class="stages">
              <span  [ngClass]="junkform?'bg_textColor':''" (click)="onjunk()">
                Junk</span>
            </div>
            
          </ion-row>  
        </div>            
      </div>
      <app-retail-followupform *ngIf="followdownform" [selectedExecId]="selectedExecId">            
      </app-retail-followupform>  

      <div [hidden]="!svform">
        <form (ngSubmit)="svdonewithfixing()" ngNativeValidate #submitForm3="ngForm">
          <div class="bg_border_color">
            <ion-row>
              <p class="font-size12-familyPoppins font-colorBlack font-weight500">
                SV Date
              </p>
            </ion-row>       
            <ion-row class="center-content">
                <div lines="none" class="input-with-image date-input">  
                  <ion-input readonly [(ngModel)]="svDate"  name="subsvnextactiondate" id="subsvnextactiondate" placeholder="Choose Date" required></ion-input>
                  <ion-popover trigger="subsvnextactiondate" #popover3>
                    <ng-template>
                      <ion-datetime presentation="date" locale="en-US"  
                          (ionChange)="onDateChange($event);popover3.dismiss()"></ion-datetime>
                    </ng-template>
                  </ion-popover>
                </div>
            </ion-row>
              
            <ion-row class="margin-top-16">
              <p class="font-size12-familyPoppins font-colorBlack font-weight500">
                SV Time
              </p>    
            </ion-row>
            <ion-row class="center-content">
              <div no-lines class="date-input inputTime-with-image">
              <div  style="width: 100%;"> <input style="width: 100%;" pInputText placeholder="Choose Time" id="subsvnextactiontime" aria-label="12hr format" [ngxTimepicker]="default" [(ngModel)]="svTime" name="subsvnextactiontime"
                (ngModelChange)="validateTime()" readonly required></div>
              </div>
            </ion-row>        
            <ngx-material-timepicker #default></ngx-material-timepicker>  
            <div *ngIf="timeError" style="color: red; font-size: 12px;">Please select a time between 8 AM and 8 PM.</div>
          </div>

          <div class="bg_border_color margin-top-16">
            <div class="col-sm-12 form-group headingdesign">
              <span class="d-flex justify-content-between align-items-baseline">
                <label class="heads">Suggested Properties For SV</label>
                <label class="addsuggProp" (click)="notifyParent()">
                  <ion-icon name="add"></ion-icon><span>Add</span>
                </label>
              </span>
      
              <div class="main_suggested_div">
                <ion-row class="ks-cboxtags">
                  <ion-col  *ngFor="let property of suggestedpropertylists; let i = index" class="ion-text-center">
                    <span *ngIf="!excludedIds.includes(property.propid)">
                      <input type="checkbox" id="subsvcheckbox{{i}}" value="{{property.propid}}" name='programmingsub' (change)="selectsuggestedsub(i,property.propid,property.name)">
                      <label for="subsvcheckbox{{i}}">{{property.name}}</label>
                    </span>            
                  </ion-col>
                </ion-row>
                <div *ngIf="!suggestedpropertylists" style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">No Properties Suggested</div>    
              </div>
            </div>
          </div>

          <div class="bg_border_color margin-top-16">            
            <ion-row>
              <p class="heads">
                Visited Properties with Us
              </p>    
            </ion-row>
            <ion-row>
              <ul *ngIf="visitedpropertylists?.length" class="comma-list">
                <li *ngFor="let visited of visitedpropertylists" class="font-size12-familyPoppins">{{visited.name}}</li>
              </ul>
            </ion-row>
            <ion-row>
              <div *ngIf="!visitedpropertylists?.length" style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">No Properties Visted With Us</div>
            </ion-row>
          </div>

          <div class="bg_border_color margin-top-16">
            <ion-row>
              <p class="font-size12-familyPoppins font-colorBlack font-weight500">Remarks</p>
            </ion-row>
            <ion-row class="custom-textArea">
              <ion-textarea placeholder="Write remarks" id="refixtextarearemarks" name="refixtextarearemarks" [(ngModel)]="svRemark" (ngModelChange)="checkAlphanumericSpaces()" required></ion-textarea>
            </ion-row>
          </div>
    
          <ion-row class="submitForm">
            <ion-col class="paddingZero">
              <ion-button fill="clear" class="saveButton" [ngClass]="submitForm3.invalid || hasOnlySpaces?'saveButton':'activeSaveButton'" type="submit"  [disabled]="submitForm3.invalid || hasOnlySpaces">Save</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </div>

      <app-rsvform *ngIf="rsvform" [selectedExecId]="selectedExecId"></app-rsvform>

      <app-negoform *ngIf="finalnegoform" [selectedExecId]="selectedExecId"></app-negoform>

      <app-closedform *ngIf="leadclosedform" [selectedExecId]="selectedExecId"></app-closedform>

      <app-junkform *ngIf="junkform" [selectedExecId]="selectedExecId"></app-junkform>

    </ion-content>

    <ion-footer  *ngIf="autolocksession">
      <ion-toolbar>
        <ion-row>
          <ion-col class="content_center">
            <ion-img style="width: 15px;" src="../../../assets/CRMimages/Vector-icon.svg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <span class="text_color_orange font-size12-familyPoppins">
              Please Complete the above Visit Updates for Fix the Next Action Procedure
            </span>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
   </ion-modal>  
</div>

