<ion-menu side="end" contentId="app-content">

  <ion-header>
    <ion-toolbar>
      <ion-title style="width: 140px;"><ion-img
          src="../../../assets/CRMimages/SITE CRM Logo_1.png"></ion-img></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-menu-toggle auto-hide="true">
      <ion-item (click)="onMenu('dashboard')">
        <span [class.active-dashboard]="shreeindutriesService.isActiveRoute('shreeindustries-dashboard')">
          Dashboard
        </span>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="true">
      <ion-item (click)="onMenu('marketing')">
        <span [class.active-dashboard]="shreeindutriesService.isActiveRoute('marketing')">Marketing Call Logs</span>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>

  <ion-footer>
    <ion-row class="logout">
      <ion-col (click)="logout()" class="d-flex align-items-center justify-content-center">
        <span style="font-size: 22px;">Log Out</span>
        <span>
          <ion-img style="width: 30px;padding-left: 4px;" src="../../../assets/CRMimages/shree-logout.svg"></ion-img>
        </span>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-menu>