<app-cp-header></app-cp-header>
<div class="content_center loader" *ngIf="showSpinner">
  <ion-img style="width: 300px; height: 70px" src="../assets/CRMimages/animation/loader.gif"></ion-img>
</div>
<ion-row class="sale-resale-rental-row mb-0">
  <ion-col (click)="applyFilter({category: '1'})" class="d-flex  align-items-center justify-content-center px-0"
    [class.active_btn]="filteredParams?.category == '1'">
    <span>Sale</span>
    <ion-img *ngIf="filteredParams?.category != '1'" src="../../../assets/cp/sale.svg"></ion-img>
    <ion-img *ngIf="filteredParams?.category == '1'" src="../../../assets/cp/active-sale.svg"></ion-img>
  </ion-col>
  <ion-col size="4" (click)="applyFilter({category: '2'})"
    class="d-flex  align-items-center justify-content-center px-0" [class.active_btn]="filteredParams?.category == '2'">
    <span>Resale</span>
    <ion-img *ngIf="filteredParams?.category != '2'" src="../../../assets/cp/resale.svg"></ion-img>
    <ion-img *ngIf="filteredParams?.category == '2'" src="../../../assets/cp/active-resale.svg"></ion-img>
  </ion-col>
  <ion-col (click)="applyFilter({category: '3'})" class="d-flex align-items-center justify-content-center px-0"
    [class.active_btn]="filteredParams?.category == '3'">
    <span>Rental</span>
    <ion-img *ngIf="filteredParams?.category != '3'" src="../../../assets/cp/rental.svg"></ion-img>
    <ion-img *ngIf="filteredParams?.category == '3'" src="../../../assets/cp/active-rental.svg"></ion-img>
  </ion-col>
</ion-row>

<div class="filter-wrapper">
  <ion-row class="leads-visits-container m-1 mb-0">
    <ion-col [ngClass]="filteredParams?.isLeadsVisits === 'leads' ? 'active-btn' : 'normal-btn'" class="content-center"
      (click)="applyFilter({isLeadsVisits: 'leads',stagestatus:'',stage:'',status:'todaysfollowups',fromdate:todayDate,todate:todayDate})">
      <ion-img *ngIf="filteredParams?.isLeadsVisits === 'leads'" src="../../../assets/cp/lead-active-btn.svg"
        class="pr-1"></ion-img>
      <ion-img *ngIf="filteredParams?.isLeadsVisits !== 'leads'" src="../../../assets/cp/lead.svg"
        class="pr-1"></ion-img>
      <span>Leads</span>
    </ion-col>

    <ion-col [ngClass]="filteredParams?.isLeadsVisits === 'visits' ? 'active-btn' : 'normal-btn'" class="content-center"
      (click)="applyFilter({isLeadsVisits: 'visits',status:'scheduledtoday',stagestatus:'',stage:'',fromdate:todayDate,todate:todayDate})">
      <ion-img *ngIf="filteredParams?.isLeadsVisits != 'visits'" src="../../../assets/cp/visit.svg"
        class="pr-1"></ion-img>
      <ion-img *ngIf="filteredParams?.isLeadsVisits === 'visits'"
        src="../../../assets/cp/visits-active-btn.svg"></ion-img>

      <span>Visits</span>
    </ion-col>
    <ion-col (click)="resetFilters()" class="refresh-btn d-flex align-items-center justify-content-center p-2px"
      size="1.2">
      <ion-icon name="sync-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<ion-row class="toggle-btn m-1 my-2 " *ngIf="filteredParams?.isLeadsVisits == 'leads'">
  <ion-col [ngClass]="filteredParams?.selectedStage === 'Todays Followups' ? 'active' : ''" (click)="applyFilter({selectedStage:'Todays Followups', activeCardKey:'todays-followups-card',status:'todaysfollowups',
            fromdate: todayDate, todate: todayDate,stage:''})">
    <span>{{'Today’s Followups - ' + leadsCount.tf}}</span>
  </ion-col>
  <ion-col [ngClass]="filteredParams?.selectedStage === 'Upcoming Followups' ? 'active' : ''"
    (click)="applyFilter({selectedStage:'Upcoming Followups', activeCardKey:'upcoming-followups-card',status:'upcomingfollowups',stage:'',fromdate: '', todate: ''})">
    <span>{{'Upcoming Followups - ' + leadsCount.uf}}</span>
  </ion-col>
</ion-row>

<ion-row class="toggle-btn m-1 my-2 " *ngIf="filteredParams?.isLeadsVisits == 'visits'">
  <ion-col [ngClass]="filteredParams?.selectedStage === 'Scheduled Visits' ? 'active' : ''"
    (click)="applyFilter({selectedStage:'Scheduled Visits', activeCardKey:'scheduled-visits-card',fromdate:todayDate,todate:todayDate, status:'scheduledtoday',stage:''})">
    <span>{{'Today’s Visits - ' + visitsCount.tv}}</span>
  </ion-col>
  <ion-col [ngClass]="filteredParams?.selectedStage === 'Upcoming Visits' ? 'active' : ''"
    (click)="applyFilter({selectedStage:'Upcoming Visits', activeCardKey:'upcoming-visits-card',status:'upcomingvisit',stage:'',fromdate: '', todate: ''})">
    <span>{{'Upcoming Visits - ' + visitsCount.uv}}</span>
  </ion-col>
</ion-row>


<!--FILTERED CHIPS -->
<ion-row class="scroll-row filterButtons m-0 p-1 "
  *ngIf="filteredParams?.source?.length > 0 ||filteredParams?.visitedpropName">
  <ion-col class="scroll-col" *ngFor="let src of filteredParams?.source" (click)="removeSource(src)">
    {{ src }}
    <ion-icon name="close"></ion-icon>
  </ion-col>
  <ion-col class="scroll-col" *ngIf="filteredParams?.visitedpropName"
    (click)="tempFilteredValues.visitedpropName = '';tempFilteredValues.propid='';onConfirmedFilter()">
    {{filteredParams?.visitedpropName }}
    <ion-icon name="close"></ion-icon>
  </ion-col>
</ion-row>
<ion-content #content (ionScroll)="onScroll($event)" scrollEvents="true">

  <div class="m-2 leads-card">
    <ion-item-sliding #sliding *ngFor="let lead of leads_detail,let i= index" (ionSwipe)="onSwipe($event,lead)">
      <ion-item lines="none">
        <ion-card class=" w-100 mt-0 mx-0">
          <div class="card-count">
            <span>{{ i + 1 | number:'2.0'}}
            </span>
          </div>
          <ion-grid class="p-0" (click)="navigateToDetailsPage(lead)">
            <div>
              <ion-row style="line-height: 1.4;">
                <ion-col size="6">
                  <div class="section">
                    <p class="label">Lead Name</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <div class="section">
                    <p class="label">Source</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="section">
                    <p class="label">Property</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>

              </ion-row>
            </div>
          </ion-grid>
          <div>
            <ion-row>
              <ion-accordion-group class="w-100">
                <!-- <ion-accordion *ngIf="(lead.manualremarks || lead.visitremarks) && filteredParams?.status != 'pending'"
                  value="second" style="border-top: 0.75px #ECECEC solid;" class="latestRemark">
                  <ion-item slot="header" color="light" class="custom-ion-item"
                    style="--inner-padding-end:0;padding: 0;">
                    <ion-label style="flex-grow: 1;margin: 5px">
                      Latest Remark
                    </ion-label>
                  </ion-item>
                  <div style="border-top: 0.75px #ECECEC solid;" class="p-2" slot="content">
                    <p>{{lead.visitremarks}}</p>
                    <p>{{lead.manualremarks}}</p>
                    <p *ngIf="lead.manualremarks === null">{{lead.remarks}}</p>
                  </div>
                </ion-accordion> -->
              </ion-accordion-group>
            </ion-row>
          </div>
          <ion-row style="justify-content: end;">
            <ion-col size="5" [id]="'cptodays-latest-remark-trigger-' + i"
              class="d-flex align-item-center justify-content-center latest_remark_col">
              <span>Remarks</span>
              <ion-img class="pl-1" src="../../assets/CRMimages/chat-bubble.svg"></ion-img>
            </ion-col>
            <ion-col></ion-col>
            <ion-col size="1.5" class="d-flex align-items-center  justify-content-center"
              (click)="onSwipe('call',lead)">
              <ion-img src="../../assets/CRMimages/call-icon.svg"></ion-img>
            </ion-col>
            <ion-col size="1.5" class="d-flex align-items-center  justify-content-center"
              (click)="onSwipe('chat',lead)">
              <ion-img src="../../assets/CRMimages/what'sapp-icon.svg"></ion-img>
            </ion-col>
          </ion-row>
          <ion-popover [trigger]="'cptodays-latest-remark-trigger-' + i" triggerAction="click"
            class="latest-remark-popover">
            <ng-template>
              <div style="padding: 4px;border: 1px solid #546D7E;border-radius: 4px; font-size: 0.8rem;">
                <p>{{lead.visitremarks}}</p>
                <p>{{lead.manualremarks}}</p>
                <p *ngIf="lead.manualremarks === null">{{lead.remarks}}</p>
                <p style="font-size: 12px;font-style: italic;font-weight: 600;text-align: center;"
                  *ngIf="(lead.manualremarks == null && (lead.visitremarks == null || lead.visitremarks == 'got this lead from Admin' || lead.visitremarks == 'got this new lead Admin'))">
                  No Remarks</p>
              </div>
            </ng-template>
          </ion-popover>
        </ion-card>
      </ion-item>
      <ion-item-options side="end" style="background: white;">
        <ion-img src="../../assets/CRMimages/phone-call.svg" style="width:45px;padding: 10px;"
          class="call-icon"></ion-img>
      </ion-item-options>

      <ion-item-options side="start" style="background: white;">
        <ion-img src="../../assets/CRMimages/whatsapp_icon.svg" style="width:52px;padding: 10px;"
          class="call-icon"></ion-img>
      </ion-item-options>
    </ion-item-sliding>
    <ion-row *ngIf="(leads_detail?.length==0)" class="textStyle ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center"><span>No Leads Found...</span></ion-col>
    </ion-row>
  </div>

  <!-- INFINITE SCROLL -->
  <ion-infinite-scroll *ngIf="showInfiniteScroll" [disabled]="false" threshold="100px" #infiniteScroll
    (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- FILTER MODAL -->
<ion-modal #filter_modal class="filter_modal">
  <ng-template>
    <div class="filter-container">
      <!-- Header -->
      <div class="filter-header">Filter by</div>
      <!-- Body -->
      <div class="filter-body">
        <!-- Left Menu -->
        <div class="filter-left">
          <div class="menu-item" [class.active]="activeTab === 'source'" (click)="setActiveTab('source')">
            Source
          </div>
          <div class="menu-item" [class.active]="activeTab === 'property'" (click)="setActiveTab('property')">
            Property
          </div>
        </div>

        <!-- Right Content -->
        <div class="filter-right">
          <!-- PROPERTY -->
          <ng-container *ngIf="activeTab === 'property'">
            <ion-searchbar class="search-style" placeholder="Search source..." [(ngModel)]="searchText"
              (ionInput)="searchData()">
            </ion-searchbar>
            <ion-radio-group [(ngModel)]="tempFilteredValues.propid">
              <div class="custom-row overflow-auto" *ngFor="let item of filteredProperty">
                <ion-radio slot="start" [value]="item"></ion-radio>
                <ion-label>{{ item.name }}</ion-label>
              </div>
            </ion-radio-group>
          </ng-container>

          <!-- SOURCE -->
          <ng-container *ngIf="activeTab === 'source'">
            <ion-searchbar class="search-style" placeholder="Search source..." [(ngModel)]="searchText"
              (ionInput)="searchData()">
            </ion-searchbar>
            <div class="custom-row overflow-auto" *ngFor="let item of filteredSource">
              <ion-checkbox slot="start" [checked]="tempFilteredValues.source?.includes(item.source)"
                (ionChange)="applyTemFilter('source',item)"></ion-checkbox>
              <ion-label><span>{{ item.source }}</span></ion-label>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Footer -->
      <div class="filter-footer">
        <ion-button fill="outline" class="clear-btn" (click)="onClearFiltered()">Clear All</ion-button>
        <ion-button class="apply-btn" (click)="onConfirmedFilter()">Apply</ion-button>
      </div>

    </div>
  </ng-template>
</ion-modal>

<div class="floatting-icon" *ngIf="!sharedService.isBottom">
  <ion-img src="../../../assets/cp/filter-icon.svg" (click)="onFilterModal()"></ion-img>
</div>
<app-cp-footer></app-cp-footer>