<app-cp-header></app-cp-header>
<ion-row class="sale-resale-rental-row mb-0">
  <ion-col (click)="applyFilter({category: '1'})" class="d-flex  align-items-center justify-content-center px-0"
    [class.active_btn]="filteredParams.category == '1'">
    <span>Sale</span>
    <ion-img *ngIf="filteredParams.category != '1'" src="../../../assets/cp/sale.svg"></ion-img>
    <ion-img *ngIf="filteredParams.category == '1'" src="../../../assets/cp/active-sale.svg"></ion-img>
  </ion-col>
  <ion-col size="4" (click)="applyFilter({category: '2'})"
    class="d-flex  align-items-center justify-content-center px-0" [class.active_btn]="filteredParams.category == '2'">
    <span>Resale</span>
    <ion-img *ngIf="filteredParams.category != '2'" src="../../../assets/cp/resale.svg"></ion-img>
    <ion-img *ngIf="filteredParams.category == '2'" src="../../../assets/cp/active-resale.svg"></ion-img>
  </ion-col>
  <ion-col (click)="applyFilter({category: '3'})" class="d-flex align-items-center justify-content-center px-0"
    [class.active_btn]="filteredParams.category == '3'">
    <span>Rental</span>
    <ion-img *ngIf="filteredParams.category != '3'" src="../../../assets/cp/rental.svg"></ion-img>
    <ion-img *ngIf="filteredParams.category == '3'" src="../../../assets/cp/active-rental.svg"></ion-img>
  </ion-col>
</ion-row>

<div class="filter-wrapper">
  <ion-row class="leads-visits-container m-1 mb-0">
    <ion-col [ngClass]="filteredParams.isLeadsVisits === 'leads' ? 'active-btn' : 'normal-btn'" class="content-center"
      (click)="applyFilter({isLeadsVisits: 'leads',stagestatus:'',stage:'',status:'todaysfollowups',fromdate:todayDate,todate:todayDate})">
      <ion-img *ngIf="filteredParams.isLeadsVisits === 'leads'" src="../../../assets/cp/lead-active-btn.svg"
        class="pr-1"></ion-img>
      <ion-img *ngIf="filteredParams.isLeadsVisits !== 'leads'" src="../../../assets/cp/lead.svg"
        class="pr-1"></ion-img>
      <span>Leads</span>
    </ion-col>

    <ion-col [ngClass]="filteredParams.isLeadsVisits === 'visits' ? 'active-btn' : 'normal-btn'" class="content-center"
      (click)="applyFilter({isLeadsVisits: 'visits',status:'scheduledtoday',stagestatus:'',stage:'',fromdate:todayDate,todate:todayDate})">
      <ion-img *ngIf="filteredParams.isLeadsVisits != 'visits'" src="../../../assets/cp/visit.svg"
        class="pr-1"></ion-img>
      <ion-img *ngIf="filteredParams.isLeadsVisits === 'visits'"
        src="../../../assets/cp/visits-active-btn.svg"></ion-img>

      <span>Visits</span>
    </ion-col>
    <ion-col (click)="resetFilters()" class="refresh-btn d-flex align-items-center justify-content-center p-2px"
      size="1.2">
      <ion-icon name="sync-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<ion-content>
  <ion-row class="toggle-btn m-1 my-2 " *ngIf="filteredParams.isLeadsVisits == 'leads'">
    <ion-col [ngClass]="filteredParams.selectedStage === 'Todays Followups' ? 'active' : ''" (click)="applyFilter({selectedStage:'Todays Followups', activeCardKey:'todays-followups-card',status:'todaysfollowups',
              fromdate: todayDate, todate: todayDate,stage:''})">
      <span>{{'Today’s Followups - ' + leadsCount.tf}}</span>
    </ion-col>
    <ion-col [ngClass]="filteredParams.selectedStage === 'Upcoming Followups' ? 'active' : ''"
      (click)="applyFilter({selectedStage:'Upcoming Followups', activeCardKey:'upcoming-followups-card',status:'upcomingfollowups',stage:'',fromdate: '', todate: ''})">
      <span>{{'Upcoming Followups - ' + leadsCount.uf}}</span>
    </ion-col>
  </ion-row>

  <ion-row class="toggle-btn m-1 my-2 " *ngIf="filteredParams.isLeadsVisits == 'visits'">
    <ion-col [ngClass]="filteredParams.selectedStage === 'Scheduled Visits' ? 'active' : ''"
      (click)="applyFilter({selectedStage:'Scheduled Visits', activeCardKey:'scheduled-visits-card',fromdate:todayDate,todate:todayDate, status:'scheduledtoday',stage:''})">
      <span>{{'Today’s Visits - ' + visitsCount.tv}}</span>
    </ion-col>
    <ion-col [ngClass]="filteredParams.selectedStage === 'Upcoming Visits' ? 'active' : ''"
      (click)="applyFilter({selectedStage:'Upcoming Visits', activeCardKey:'upcoming-visits-card',status:'upcomingvisit',stage:'',fromdate: '', todate: ''})">
      <span>{{'Upcoming Visits - ' + visitsCount.uv}}</span>
    </ion-col>
  </ion-row>


  <!-- LEADS SECTION -->
  <!-- <div class="p-1" *ngIf="filteredParams.isLeadsVisits == 'leads'">
    <ion-row class="mb-2">
      <ion-col class="todays-followups-card" [class.selected]="filteredParams.activeCardKey == 'todays-followups-card'">
        <div class="card-content h-100">
          <div class="d-flex">
            <div><ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img></div>
            <div
              [ngClass]="filteredParams.selectedStage === 'Todays Followups' ? 'selected-card border-bottom-right' : ''"
              (click)="applyFilter({selectedStage:'Todays Followups', activeCardKey:'todays-followups-card',status:'todaysfollowups',
              fromdate: todayDate, todate: todayDate,stage:''})" class="pl-1">
              <p>Today's Followups </p>
              <h1>{{leadsCount.tf}}</h1>
            </div>
          </div>

          <ion-row class="mt-1 h-100">
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Todays General Followups' ? 'selected-card border-top-right' : ''"
              class="py-0 px-1" size="5"
              (click)="applyFilter({selectedStage:'Todays General Followups', activeCardKey:'todays-followups-card',status:'todaysfollowups',fromdate: todayDate, todate: todayDate,stage:'Fresh'})">
              <p>General Followups</p>
              <h1>{{leadsCount.t_gf}}</h1>
            </ion-col>
            <ion-col [ngClass]="filteredParams.selectedStage === 'Todays NC' ? 'selected-card border-top-left' : ''"
              class="py-0 px-1" size="7"
              (click)="applyFilter({selectedStage:'Todays NC', activeCardKey:'todays-followups-card',status:'todaysfollowups', fromdate: todayDate, todate: todayDate,stage:'NC'})">
              <p>NC</p>
              <h1>{{leadsCount.t_nc}}</h1>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="upcoming-followups-card"
        [class.selected]="filteredParams.activeCardKey == 'upcoming-followups-card'">
        <div class="card-content h-100">
          <div class="d-flex">
            <div><ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img></div>
            <div
              [ngClass]="filteredParams.selectedStage === 'Upcoming Followups' ? 'selected-card border-bottom-right' : ''"
              (click)="applyFilter({selectedStage:'Upcoming Followups', activeCardKey:'upcoming-followups-card',status:'upcomingfollowups',stage:'',fromdate: '', todate: ''})"
              class="pl-1">
              <p>Upcoming Followups</p>
              <h1>{{leadsCount.uf}}</h1>
            </div>
          </div>

          <ion-row class="mt-1 h-100">
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Upcoming General Followups' ? 'selected-card border-top-right' : ''"
              class="py-0 px-1" size="5"
              (click)="applyFilter({selectedStage:'Upcoming General Followups', activeCardKey:'upcoming-followups-card',status:'upcomingfollowups',stage:'Fresh',fromdate: '', todate: ''})">
              <p>General Followups</p>
              <h1>{{leadsCount.u_gf}}</h1>
            </ion-col>
            <ion-col [ngClass]="filteredParams.selectedStage === 'Upcoming NC' ? 'selected-card border-top-left' : ''"
              class="py-0 px-1" size="7"
              (click)="applyFilter({selectedStage:'Upcoming NC', activeCardKey:'upcoming-followups-card',status:'upcomingfollowups',stage:'NC',fromdate: '', todate: ''})">
              <p>Upcoming NC</p>
              <h1>{{leadsCount.u_nc}}</h1>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div> -->

  <!-- VISITS CARD -->
  <!-- <div class="p-1" *ngIf="filteredParams.isLeadsVisits == 'visits'">
    <ion-row class="mb-2">
      <ion-col class="scheduled-visits-card p-0"
        [class.selected]="filteredParams.activeCardKey == 'scheduled-visits-card'">
        <div class="card-content">
          <div class="d-flex">
            <div><ion-img src="../assets/CRMimages/assignedLeadsicon.svg"></ion-img></div>
            <div
              [ngClass]="filteredParams.selectedStage === 'Scheduled Visits' ? 'selected-card border-bottom-right' : ''"
              (click)="applyFilter({selectedStage:'Scheduled Visits', activeCardKey:'scheduled-visits-card',fromdate:todayDate,todate:todayDate, status:'scheduledtoday',stage:''})"
              class="pl-1">
              <p>today Scheduled Visits</p>
              <h1>{{visitsCount.tv}}</h1>
            </div>
          </div>

          <ion-row class="mt-1">
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Scheduled USV Visits' && filteredParams.activeCardKey ==='scheduled-visits-card'? 'selected-card border-top-right' : ''"
              class="py-0 px-1"
              (click)="applyFilter({selectedStage:'Scheduled USV Visits', activeCardKey:'scheduled-visits-card',fromdate:todayDate,todate:todayDate, status:'scheduledtoday',stage:'USV'})">
              <p>USV</p>
              <h1>{{visitsCount.t_usv}}</h1>
            </ion-col>
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Scheduled RSV Visits' && filteredParams.activeCardKey ==='scheduled-visits-card' ? 'selected-card border-bottom-none' : ''"
              class="py-0 px-1"
              (click)="applyFilter({selectedStage:'Scheduled RSV Visits', activeCardKey:'scheduled-visits-card',fromdate:todayDate,todate:todayDate, status:'scheduledtoday',stage:'RSV'})">
              <p>RSV</p>
              <h1>{{visitsCount.t_rsv }}</h1>
            </ion-col>
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Scheduled FN Visits' && filteredParams.activeCardKey ==='scheduled-visits-card' ? 'selected-card border-top-left' : ''"
              class="py-0 px-1"
              (click)="applyFilter({selectedStage:'Scheduled FN Visits', activeCardKey:'scheduled-visits-card',fromdate:todayDate,todate:todayDate, status:'scheduledtoday',stage:'Final Negotiation'})">
              <p>FN</p>
              <h1>{{visitsCount.t_fn }}</h1>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="upcoming-visits-card p-0"
        [class.selected]="filteredParams.activeCardKey == 'upcoming-visits-card'">
        <div class="card-content">
          <div class="d-flex">
            <div><ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img></div>
            <div
              [ngClass]="filteredParams.selectedStage === 'Upcoming Visits' ? 'selected-card border-bottom-right' : ''"
              (click)="applyFilter({selectedStage:'Upcoming Visits', activeCardKey:'upcoming-visits-card',status:'upcomingvisit',stage:'',fromdate: '', todate: ''})"
              class="pl-1">
              <p>Upcoming Visits</p>
              <h1>{{visitsCount.uv}}</h1>
            </div>
          </div>

          <ion-row class="mt-1">
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Upcoming USV Visits' && filteredParams.activeCardKey ==='upcoming-visits-card' ? 'selected-card border-top-right' : ''"
              class="py-0 px-1"
              (click)="applyFilter({selectedStage:'Upcoming USV Visits', activeCardKey:'upcoming-visits-card', status:'upcomingvisit',stage:'USV',fromdate: '', todate: ''})">
              <p>USV</p>
              <h1>{{visitsCount.u_usv}}</h1>
            </ion-col>
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Upcoming RSV Visits' && filteredParams.activeCardKey ==='upcoming-visits-card' ? 'selected-card border-bottom-none' : ''"
              class="py-0 px-1"
              (click)="applyFilter({selectedStage:'Upcoming RSV Visits', activeCardKey:'upcoming-visits-card', status:'upcomingvisit',stage:'RSV',fromdate: '', todate: ''})">
              <p>RSV</p>
              <h1>{{visitsCount.u_rsv}}</h1>
            </ion-col>
            <ion-col
              [ngClass]="filteredParams.selectedStage === 'Upcoming FN Visits' && filteredParams.activeCardKey ==='upcoming-visits-card' ? 'selected-card border-top-left' : ''"
              class="py-0 px-1"
              (click)="applyFilter({selectedStage:'Upcoming FN Visits', activeCardKey:'upcoming-visits-card', status:'upcomingvisit',stage:'Final Negotiation',fromdate: '', todate: ''})">
              <p>FN</p>
              <h1>{{visitsCount.u_fn}}</h1>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div> -->

  <div class="m-2 leads-card">
    <!-- <ion-row [class]="filteredParams.activeCardKey" class="rounded-0 pb-1">
      <ion-col class="d-flex align-items-center justify-content-center selected-card">
        <h1 class="text-capitalize">
          {{filteredParams.selectedStage}}
        </h1>
      </ion-col>
    </ion-row> -->

    <ion-item-sliding #sliding *ngFor="let lead of leads_detail,let i= index">
      <ion-item lines="none">
        <ion-card class=" w-100 mt-0 mx-0">
          <div class="card-count">
            <span>{{ i + 1 | number:'2.0'}}
            </span>
          </div>
          <ion-grid class="p-0">
            <div>
              <ion-row style="line-height: 1.4;">
                <ion-col size="6">
                  <div class="section">
                    <p class="label">Lead Name</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <div class="section">
                    <p class="label">Source</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="section">
                    <p class="label">Property</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>

              </ion-row>
            </div>
          </ion-grid>
          <div>
            <ion-row>
              <ion-accordion-group class="w-100">

                <ion-accordion *ngIf="(lead.manualremarks || lead.visitremarks) && filteredParams.status != 'pending'"
                  value="second" style="border-top: 0.75px #ECECEC solid;" class="latestRemark">
                  <ion-item slot="header" color="light" class="custom-ion-item"
                    style="--inner-padding-end:0;padding: 0;">
                    <ion-label style="flex-grow: 1;margin: 5px">
                      Latest Remark
                    </ion-label>
                  </ion-item>
                  <div style="border-top: 0.75px #ECECEC solid;" class="p-2" slot="content">
                    <p>{{lead.visitremarks}}</p>
                    <p>{{lead.manualremarks}}</p>
                    <p *ngIf="lead.manualremarks === null">{{lead.remarks}}</p>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-row>
          </div>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
    <ion-row *ngIf="(leads_detail?.length==0)" class="textStyle ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center"><span>No Leads Found...</span></ion-col>
    </ion-row>
  </div>

  <!-- INFINITE SCROLL -->
  <ion-infinite-scroll *ngIf="showInfiniteScroll" [disabled]="false" threshold="100px" #infiniteScroll
    (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>