<app-cp-header></app-cp-header>
<div class="content_center loader" *ngIf="showSpinner">
  <ion-img style="width: 300px; height: 70px" src="../assets/CRMimages/animation/loader.gif"></ion-img>
</div>
<ion-row class="sale-resale-rental-row mb-0">
  <ion-col (click)="applyFilter({category: '1'})" class="d-flex  align-items-center justify-content-center px-0"
    [class.active_btn]="filteredParams.category == '1'">
    <span>Sale</span>
    <ion-img *ngIf="filteredParams.category != '1'" src="../../../assets/cp/sale.svg"></ion-img>
    <ion-img *ngIf="filteredParams.category == '1'" src="../../../assets/cp/active-sale.svg"></ion-img>
  </ion-col>
  <ion-col size="4" (click)="applyFilter({category: '2'})"
    class="d-flex  align-items-center justify-content-center px-0" [class.active_btn]="filteredParams.category == '2'">
    <span>Resale</span>
    <ion-img *ngIf="filteredParams.category != '2'" src="../../../assets/cp/resale.svg"></ion-img>
    <ion-img *ngIf="filteredParams.category == '2'" src="../../../assets/cp/active-resale.svg"></ion-img>
  </ion-col>
  <ion-col (click)="applyFilter({category: '3'})" class="d-flex align-items-center justify-content-center px-0"
    [class.active_btn]="filteredParams.category == '3'">
    <span>Rental</span>
    <ion-img *ngIf="filteredParams.category != '3'" src="../../../assets/cp/rental.svg"></ion-img>
    <ion-img *ngIf="filteredParams.category == '3'" src="../../../assets/cp/active-rental.svg"></ion-img>
  </ion-col>
</ion-row>
<ion-row class="datefilter-main-row m-1 mb-0">
  <ion-col class="presets-container">
    <ion-row>
      <ion-col (click)="applyFilter({datePreset: 'all'})" class="d-flex  align-items-center justify-content-center px-0"
        [class.active_btn]="filteredParams.datePreset == 'all'">
        <span class="font-size12-familyPoppins">All Time</span>
      </ion-col>
      <ion-col size="4" (click)="applyFilter({datePreset: 'today'})"
        class="d-flex  align-items-center justify-content-center px-0"
        [class.active_btn]="filteredParams.datePreset == 'today'">
        <span class="font-size12-familyPoppins">Today</span>
      </ion-col>
      <ion-col (click)="applyFilter({datePreset: 'yesterday'})"
        class="d-flex align-items-center justify-content-center px-0"
        [class.active_btn]="filteredParams.datePreset == 'yesterday'">
        <span class="font-size12-familyPoppins">Yesterday</span>
      </ion-col>
    </ion-row>
  </ion-col>
  <ion-col [class.active_btn]="filteredParams.datePreset == 'custom'" (click)="cp_dashboard_custDate_modal.present()"
    class="d-flex align-items-center justify-content-center  p-2px date-btn" size="1.5">
    <span class="d-flex align-items-center justify-content-center">
      <ion-icon name="calendar-outline"></ion-icon>
    </span>
  </ion-col>
  <ion-col (click)="resetFilters()" class="refresh-btn d-flex align-items-center justify-content-center p-2px"
    size="1.2">
    <ion-icon name="sync-outline"></ion-icon>
  </ion-col>
</ion-row>

<ion-row class="filterButtons m-2 mb-0" *ngIf="this.filteredParams.datePreset == 'custom'" (click)="removeDateFilter()">
  <ion-button fill="clear" class="m-0">
    <span>{{this.filteredParams.fromdate }}{{ " to " + this.filteredParams.todate }}</span>
    <ion-icon slot="end" name="close"></ion-icon>
  </ion-button>
</ion-row>

<!--FILTERED CHIPS -->
<ion-row class="scroll-row filterButtons m-0 p-1" *ngIf="filteredParams.source?.length > 0 ||filteredParams.propName">
  <ion-col class="scroll-col" *ngFor="let src of filteredParams.source" (click)="removeSource(src)">
    {{ src }}
    <ion-icon name="close"></ion-icon>
  </ion-col>
  <ion-col class="scroll-col" *ngIf="filteredParams.propName"
    (click)="tempFilteredValues.visitedpropName = '';tempFilteredValues.propid='';onConfirmedFilter()">
    {{filteredParams.propName }}
    <ion-icon name="close"></ion-icon>
  </ion-col>
</ion-row>

<ion-content #content (ionScroll)="onScroll($event)" scrollEvents="true">
  <!-- LEADS CARD -->
  <!-- <ion-card class="leads-card" [class.selected]="filteredParams.activeCardKey == 'leads-card'">
    <ion-row class="card-content">
      <ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'Followups' && filteredParams.activeCardKey ==='leads-card'? 'selected-card border-right' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage: 'Followups',activeCardKey:'leads-card',stage:'Fresh',stagestatus:''})">
        <p>Followups</p>
        <h1>{{leadsCount.followups}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'NC' && filteredParams.activeCardKey ==='leads-card' ? 'selected-card border-right-left' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage: 'NC',activeCardKey:'leads-card',stage:'NC',stagestatus:''})">
        <p>NC</p>
        <h1>{{leadsCount.nc}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'USV Fix' && filteredParams.activeCardKey ==='leads-card' ? 'selected-card border-left' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage: 'USV Fix',activeCardKey:'leads-card',stage:'USV',stagestatus:'1'})">
        <p>USV Fix</p>
        <h1>{{leadsCount.usvfix}}</h1>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- VISITS CARD -->
  <!-- <ion-card class="usv-card" [class.selected]="filteredParams.activeCardKey == 'usv-card'">
    <ion-row class="card-content ">
      <ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'USV Done' && filteredParams.activeCardKey ==='usv-card'? 'selected-card border-right-bottom' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage: 'USV Done',activeCardKey:'usv-card',stage:'USV',stagestatus:'3'})">
        <p>USV Done</p>
        <h1>{{leadsCount.usvdone}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'RSV Fix' && filteredParams.activeCardKey ==='usv-card' ? 'selected-card border-left-bottom-right' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage:'RSV Fix',activeCardKey:'usv-card',stage:'RSV',stagestatus:'1'});">
        <p>RSV Fix</p>
        <h1>{{leadsCount.rsvfix}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'FN Fix' && filteredParams.activeCardKey ==='usv-card' ? 'selected-card border-left-bottom' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage:'FN Fix',activeCardKey:'usv-card',stage:'Final Negotiation',stagestatus:'1'});">
        <p>FN Fix</p>
        <h1>{{leadsCount.fnfix}}</h1>
      </ion-col>
    </ion-row>
    <ion-row class="card-content">
      <ion-col> </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'RSV Done' && filteredParams.activeCardKey ==='usv-card' ? 'selected-card border-left-top-right' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage:'RSV Done',activeCardKey:'usv-card',stage:'RSV',stagestatus:'3'});">
        <p>RSV Done</p>
        <h1>{{leadsCount.rsvdone}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'FN Done' && filteredParams.activeCardKey ==='usv-card' ? 'selected-card border-left-top' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage:'FN Done',activeCardKey:'usv-card',stage:'Final Negotiation',stagestatus:'3'});">
        <p>FN Done</p>
        <h1>{{leadsCount.fndone}}</h1>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- BOOKED CARD -->
  <!-- <ion-card class="booked-card" [class.selected]="filteredParams.activeCardKey == 'booked-card'">
    <ion-row class="card-content">
      <ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'Deal Pending' && filteredParams.activeCardKey ==='booked-card'? 'selected-card border-right' : ''"
        class="py-0 px-1" (click)="applyFilter({selectedStage:'Deal Pending',activeCardKey:'booked-card',
        stage:'Deal Closing Pending',stagestatus:''});">
        <p>Deal Pending</p>
        <h1>{{leadsCount.pending}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'Deal Request' && filteredParams.activeCardKey ==='booked-card' ? 'selected-card border-left' : ''"
        class="py-0 px-1" (click)="applyFilter({selectedStage:'Deal Request',activeCardKey:'booked-card',
        stage:'Deal Closing Requested',stagestatus:''});">
        <p>Deal Request</p>
        <h1>{{leadsCount.request}}</h1>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <ion-card class="followups-card mb-0" [class.selected]="filteredParams.activeCardKey == 'followups-card'">
    <ion-row class="card-content">
      <ion-img src="../assets/CRMimages/touchedicon.svg"></ion-img>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'Followups' && filteredParams.activeCardKey ==='followups-card'? 'selected-card border-right' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage: 'Followups',activeCardKey:'followups-card',stage:'Fresh',stagestatus:''})">
        <p>Followups</p>
        <h1>{{leadsCount.followups}}</h1>
      </ion-col>
      <ion-col
        [ngClass]="filteredParams.selectedStage === 'Scheduled Visits' && filteredParams.activeCardKey ==='followups-card' ? 'selected-card border-left' : ''"
        class="py-0 px-1"
        (click)="applyFilter({selectedStage: 'Scheduled Visits',activeCardKey:'followups-card',stage:'USV',stagestatus:'1'})">
        <p>Scheduled visits</p>
        <h1>{{leadsCount.usvfix}}</h1>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row class="visits-row mx-1" *ngIf="visits?.length != 0">
    <ion-col *ngFor="let visit of visits" size="4"
      (click)="applyFilter({selectedStage: ('Visits_'+visit.visit_order),activeCardKey:'visits-row', visited_count:visit.visit_order,stage:''})">
      <ion-card class="m-0" [ngClass]="filteredParams.visited_count == visit.visit_order?'selected':''">
        <ion-img src="../assets/cp/allVisits-card-icon.svg"></ion-img>
        <p>Visits {{visit.visit_order}}</p>
        <h1>{{visit.visited_count}}</h1>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="visits-row mx-1" *ngIf="visits?.length == 0">
    <ion-col (click)="applyFilter({selectedStage: ('Visits'),activeCardKey:'visits-row',stage:''})">
      <ion-card class="m-0" [ngClass]="filteredParams.selectedStage == 'Visits'?'selected':''">
        <ion-img src="../assets/cp/allVisits-card-icon.svg"></ion-img>
        <p>No Visits Found</p>
        <h1>0</h1>
      </ion-card>
    </ion-col>
  </ion-row>


  <div class="m-2">
    <ion-row [class]="filteredParams.activeCardKey" class="rounded-0 selected-card-header">
      <ion-col class="d-flex align-items-center justify-content-center selected-card">
        <h1 class="text-capitalize">
          {{filteredParams.selectedStage}}
        </h1>
      </ion-col>
    </ion-row>

    <ion-item-sliding #sliding *ngFor="let lead of leads_detail,let i= index" (ionSwipe)="onSwipe($event,lead)">
      <ion-item lines="none">
        <ion-card class="leads-card w-100 mt-0">
          <div class="card-count">
            <span>{{ i + 1 | number:'2.0'}}
            </span>
          </div>
          <ion-grid class="p-0" (click)="navigateToDetailsPage(lead)">
            <div>
              <ion-row style="line-height: 1.4;">
                <ion-col size="6">
                  <div class="section">
                    <p class="label">Lead Name</p>
                    <p class="value">{{lead.CustomerName}}</p>
                  </div>
                </ion-col>

                <ion-col size="6">
                  <div class="section">
                    <p class="label">Number </p>
                    <p class="value">{{lead.number}}</p>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="section">
                    <p class="label">Overdue On </p>
                    <p class="value">{{lead.nextactiondate|date: 'dd-MMM-yyyy' }} {{lead.nextactiontime}}</p>
                  </div>
                </ion-col>
                <ion-col size="6" *ngIf="lead.propertyname || lead.leadProperty">
                  <div class="section">
                    <p class="label">Property </p>
                    <p class="value">{{lead.leadProperty || lead.propertyname}}</p>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="section">
                    <p class="label">Source </p>
                    <p class="value">{{lead.source}}</p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
          <div>
            <ion-row>
              <ion-accordion-group class="w-100">
                <ion-accordion *ngIf="(lead.manualremarks || lead.visitremarks)" value="second"
                  style="border-top: 0.75px #ECECEC solid;" class="latestRemark">
                  <ion-item slot="header" color="light" class="custom-ion-item"
                    style="--inner-padding-end:0;padding: 0;">
                    <ion-label style="flex-grow: 1;margin: 5px">
                      Latest Remarks
                    </ion-label>
                  </ion-item>
                  <div style="border-top: 0.75px #ECECEC solid;" class="p-2" slot="content">
                    <p>{{lead.visitremarks}}</p>
                    <p>{{lead.manualremarks}}</p>
                    <p *ngIf="lead.manualremarks === null">{{lead.remarks}}</p>
                  </div>

                </ion-accordion>
              </ion-accordion-group>
            </ion-row>
          </div>
          <ion-row style="justify-content: end;">
            <ion-col size="1" class="d-flex align-items-center  justify-content-center" (click)="onSwipe('call',lead)">
              <ion-img src="../../assets/CRMimages/call-icon.svg"></ion-img>
            </ion-col>
            <ion-col size="1" class="d-flex align-items-center  justify-content-center" (click)="onSwipe('chat',lead)">
              <ion-img src="../../assets/CRMimages/what'sapp-icon.svg"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
      <ion-item-options side="end" style="background: white;">
        <ion-img src="../../assets/CRMimages/phone-call.svg" style="width:45px;padding: 10px;"
          class="call-icon"></ion-img>
      </ion-item-options>

      <ion-item-options side="start" style="background: white;">
        <ion-img src="../../assets/CRMimages/whatsapp_icon.svg" style="width:52px;padding: 10px;"
          class="call-icon"></ion-img>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  <ion-row *ngIf="(leads_detail?.length==0)" class="textStyle ion-justify-content-center ion-align-items-center">
    <ion-col class="ion-text-center"><span>No Leads Found...</span></ion-col>
  </ion-row>

  <!-- INFINITE SCROLL -->
  <ion-infinite-scroll *ngIf="showInfiniteScroll" [disabled]="false" threshold="100px" #infiniteScroll
    (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-modal #cp_dashboard_custDate_modal [breakpoints]="[0.3]" [initialBreakpoint]="0.3"
  [backdropDismiss]="!(dateRange?.fromdate && dateRange?.todate)" class="cp_dashboard_custDate_modal"
  (ionModalDidDismiss)="onCustomDateModalDismiss($event)">
  <ng-template>
    <div class="modal-container">
      <div class="date-range-wrapper">
        <h3 class="title">Select date range</h3>

        <div class="date-inputs">
          <div class="date-box" (click)="openFromDate()">
            <label>From</label>
            <span>{{ dateRange?.fromdate ? ('' + dateRange.fromdate).split('T')[0] : '' }}</span>
          </div>

          <div class="date-box" (click)="handleToDateClick()" [class.disabled]="!dateRange?.fromdate">
            <label>To</label>
            <span>{{ dateRange?.todate ? ('' + dateRange.todate).split('T')[0] : '' }}</span>
          </div>
        </div>

        <p class="error-text" *ngIf="showFromDateError">
          Please select From date first
        </p>
      </div>
      <div>
        <ion-button expand="block" class="confirm-btn" [disabled]="!(dateRange?.fromdate && dateRange?.todate)"
          (click)="applyFilter({datePreset:'custom'}); cp_dashboard_custDate_modal.dismiss()">
          Confirm
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>


<ion-modal #cp_dashboard_fromDate_modal [breakpoints]="[0, 0.50]" [initialBreakpoint]="0.56" mode="ios"
  [keepContentsMounted]="false" (ionBreakpointDidChange)="onmodaldismiss()" (ionChange)="onFromDateSelected($event)">
  <ng-template>
    <ion-datetime [max]="todayDate" presentation="date" [(ngModel)]="dateRange.fromdate"></ion-datetime>
  </ng-template>
</ion-modal>
<ion-modal #cp_dashboard_toDate_modal [breakpoints]="[0, 0.50]" [initialBreakpoint]="0.56" mode="ios"
  [keepContentsMounted]="false" (ionBreakpointDidChange)="onmodaldismiss()" (ionChange)="onToDateSelected($event)">
  <ng-template>
    <ion-datetime [max]="todayDate" presentation="date" [min]="dateRange.fromdate"
      [(ngModel)]="dateRange.todate"></ion-datetime>
  </ng-template>
</ion-modal>

<!-- FILTER MODAL -->
<ion-modal #filter_modal class="filter_modal">
  <ng-template>
    <div class="filter-container">
      <!-- Header -->
      <div class="filter-header">Filter by</div>
      <!-- Body -->
      <div class="filter-body">
        <!-- Left Menu -->
        <div class="filter-left">
          <div class="menu-item" [class.active]="activeTab === 'source'" (click)="setActiveTab('source')">
            Source
          </div>
          <div class="menu-item" [class.active]="activeTab === 'property'" (click)="setActiveTab('property')">
            Property
          </div>
        </div>

        <!-- Right Content -->
        <div class="filter-right">
          <!-- PROPERTY -->
          <ng-container *ngIf="activeTab === 'property'">
            <ion-searchbar class="search-style" placeholder="Search source..." [(ngModel)]="searchText"
              (ionInput)="searchData()">
            </ion-searchbar>
            <ion-radio-group [(ngModel)]="tempFilteredValues.propid">
              <div class="custom-row overflow-auto" *ngFor="let item of filteredProperty">
                <ion-radio slot="start" [value]="item"></ion-radio>
                <ion-label>{{ item.name }}</ion-label>
              </div>
            </ion-radio-group>
          </ng-container>

          <!-- SOURCE -->
          <ng-container *ngIf="activeTab === 'source'">
            <ion-searchbar class="search-style" placeholder="Search source..." [(ngModel)]="searchText"
              (ionInput)="searchData()">
            </ion-searchbar>
            <div class="custom-row overflow-auto" *ngFor="let item of filteredSource">
              <ion-checkbox slot="start" [checked]="tempFilteredValues.source?.includes(item.source)"
                (ionChange)="applyTemFilter('source',item)"></ion-checkbox>
              <ion-label><span>{{ item.source }}</span></ion-label>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Footer -->
      <div class="filter-footer">
        <ion-button fill="outline" class="clear-btn" (click)="onClearFiltered()">Clear All</ion-button>
        <ion-button class="apply-btn" (click)="onConfirmedFilter()">Apply</ion-button>
      </div>

    </div>
  </ng-template>
</ion-modal>

<div class="floatting-icon" *ngIf="!sharedService.isBottom">
  <ion-img src="../../../assets/cp/filter-icon.svg" (click)="onFilterModal()"></ion-img>
</div>
<app-cp-footer></app-cp-footer>