.card-count {
  position: absolute;
  right: 0px;
  background: #9d9d9d;
  padding: 0px 4px;
  color: white;
  font-size: 0.68rem;
}
.label {
  margin-bottom: 0;
  color: #8a8a8a !important;
  font-size: 0.714rem;
}
.value {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7rem;
}
ion-content {
  --background: #f0f2f5;
}
* {
  font-family: "Poppins";
}

.floatting-icon {
  position: absolute;
  width: 50px;
  right: 0;
  bottom: 42px;
  border-radius: 35px;
  padding: 5px;
  --ionicon-stroke-width: 60px;
  ion-icon {
    background-color: #1265a5 !important;
    color: white;
    font-size: 24px;
    border-radius: 20px;
    padding: 4px;
  }
}

.my-swal-popup .swal2-title {
  font-size: 1.2rem !important;
}

.my-swal-popup .swal2-html-container {
  font-size: 0.8rem !important;
}
.swal-confirm {
  font-size: 1rem !important;
  padding: 6px !important;
}

.swal-cancel {
  font-size: 1rem !important;
  padding: 6px 10px !important;
}
.swal-icon {
  width: 4rem;
  height: 4rem;
}
