<ion-header>
  <ion-row>
    <ion-col size="2" class="content_center">
      <ion-icon style="font-size: 20px;" name="arrow-back" (click)="onBackbutton()">back</ion-icon>
    </ion-col>

    <ion-col class="content_center">
      <span>
        <span class="font-size16-familyPoppins"
          *ngIf="(!isEditProDetails && !isActivityHistory) && stageForm == ''">Lead Details</span>
        <span *ngIf="stageForm != ''" class="font-size16-familyPoppins">Lead Status</span>
        <span class="font-size16-familyPoppins" *ngIf="isActivityHistory">Activities</span>
        <span class="font-size16-familyPoppins" *ngIf="isEditProDetails"> Update Customer Details </span>
      </span>
    </ion-col>

    <ion-col size="2" (click)="openEndMenu()" class="content_center">
      <ion-icon name="menu" class="menu_icon"></ion-icon>
    </ion-col>
  </ion-row>
</ion-header>

<div class="content_center loader" *ngIf="showSpinner">
  <ion-img style="width: 300px; height: 70px" src="../assets/CRMimages/animation/loader.gif"></ion-img>
</div>
<ion-row class="sale-resale-rental-row mb-0">
  <ion-col size="4" *ngFor="let category of  customerView?.listing_category?.slice().reverse()"
    (click)="onCategory(category?.id)" class="d-flex  align-items-center justify-content-center px-0"
    [class.active_btn]="categoryid === category?.id">

    <span class="text-capitalize">{{category.type}}</span>
    <span>
      <ion-img *ngIf="categoryid != category?.id && category?.id == '1'" src="../../../assets/cp/sale.svg"></ion-img>
      <ion-img *ngIf="categoryid == category?.id && category?.id == '1'"
        src="../../../assets/cp/active-sale.svg"></ion-img>
    </span>
    <span>
      <ion-img *ngIf="categoryid != category?.id && category?.id == '2'" src="../../../assets/cp/resale.svg"></ion-img>
      <ion-img *ngIf="categoryid == category?.id && category?.id == '2'"
        src="../../../assets/cp/active-resale.svg"></ion-img>
    </span>
    <span>
      <ion-img *ngIf="categoryid != category?.id && category?.id == '3'" src="../../../assets/cp/rental.svg"></ion-img>
      <ion-img *ngIf="categoryid == category?.id && category?.id == '3'"
        src="../../../assets/cp/active-rental.svg"></ion-img>
    </span>
  </ion-col>

</ion-row>
<ion-content #scrollContent (ionScroll)="onScroll($event)" scrollEvents="true">

  <ion-card class="lead-card mb-0" *ngIf="(this.stageForm == '') && !isEditProDetails && !isActivityHistory">
    <ion-grid class="p-0">
      <ion-row class="ion-align-items-start ion-justify-content-between">
        <ion-col size="11">
          <div class="name-tag-row">
            <span class="lead-name">
              {{ customerView?.customer_name && customerView?.enquiry_altname?
              customerView?.customer_name +"/"+ customerView?.enquiry_altname:customerView?.enquiry_name
              ?customerView?.enquiry_name:customerView?.customer_name }}
            </span>

            <div class="d-flex align-items-center pl-1">
              <span
                [ngClass]="customerView?.lead_priority == '1'?'hot_txt':customerView?.lead_priority == '2'?'warm_txt':customerView?.lead_priority == '3'?'cold_txt':'set_priority'"
                class="d-flex ">
                {{customerView?.lead_priority ==
                '1'?'Hot':customerView?.lead_priority ==
                '2'?'Warm':customerView?.lead_priority == '3'?'Cold':'' }}
                <ion-img *ngIf="customerView?.lead_priority == '1'"
                  src="../../../assets/CRMimages/hot_orrange_icon.svg"></ion-img>
                <ion-img *ngIf="customerView?.lead_priority =='2'"
                  src="../../../assets/CRMimages/warm-color-icon.svg"></ion-img>
                <ion-img *ngIf="customerView?.lead_priority == '3'"
                  src="../../../assets/CRMimages/cold-color-icon.svg"></ion-img>
              </span>
            </div>
          </div>
          <div class="subtext">{{customerView?.customer_source}}</div>
        </ion-col>

        <ion-col size="1" class="ion-text-right" style="margin-top: 2px;" id="click-trigger">
          <ion-icon name="ellipsis-vertical" class="dots-icon"></ion-icon>
        </ion-col>

        <ion-popover trigger="click-trigger" triggerAction="click" class="edit-lead-details-popover">
          <ng-template>
            <ion-content class="ion-padding">
              <div class="edit-lead-details" (click)="onEditPropDetails()">
                <ion-img src="../../assets/CRMimages/leadinfo_edit-icon.svg"></ion-img>
                <span class="font-size12-familyPoppins">
                  Edit Details
                </span>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-row>
      <ion-row style="justify-content: start;">
        <ion-col size="1" class="d-flex align-items-center  justify-content-center" (click)="onSwipe('call')">
          <ion-img src="../../assets/CRMimages/call-icon.svg"></ion-img>
        </ion-col>
        <ion-col size="1" class="d-flex align-items-center  justify-content-center" (click)="onSwipe('chat')">
          <ion-img src="../../assets/CRMimages/what'sapp-icon.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="mergedleads?.length!==0"
          class="leadMerged ion-text-right font-size12-familyPoppins font-weight400" (click)="toViewMergedLeads()">
          <div class="textBgColor leadMerged">
            {{mergedleads.length}} Lead Merged
            <ion-img src="../../assets/CRMimages/merged_icon.svg"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- LEAD INFORMATION SECTION -->
  <div *ngIf="(this.stageForm == '') && !isEditProDetails  && !isActivityHistory">
    <ion-card class="info-card  mb-0">
      <ion-grid class="paddingZero">
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6" style="border-right:1px solid rgba(210, 207, 207, 1);">
            <div class="info-item">
              <span class="lead-label">Contact Number</span><br>
              <span>
                <span class="lead-value">
                  <span> {{customerView?.customer_number}} <span *ngIf="customerView?.enquiry_altnumber"><span
                        *ngIf="customerView?.customer_number">/</span>{{customerView?.enquiry_altnumber}}</span></span>
                </span>
              </span>

              <span class="merge-badge" style="float: right;" (click)="onMergeIcon()">Merge
                <ion-img src="../../assets/CRMimages/merge_icon.svg" style="width: 18px;padding-left: 5px"></ion-img>
              </span>
            </div>
            <div class="info-item"><span class="lead-label">Mail ID</span><br>
              <span>
                <div class="lead-value">{{customerView?.customer_mail?customerView?.customer_mail:'--'}}</div>
                <div *ngIf="customerView?.enquiry_altmail" class="lead-value">/{{customerView?.enquiry_altmail}}</div>
              </span>
            </div>
            <div class="info-item"><span class="lead-label">Enquired Project</span><br>
              <span class="lead-value">
                {{customerView?.customer_properties?customerView?.customer_properties:'--'}}</span>
            </div>

            <div class="info-item"><span class="lead-label">Preferred location</span><br>
              <span class="lead-value">{{customerView?.enquiry_location?customerView?.enquiry_location:'--'}}</span>
            </div>
          </ion-col>

          <!-- Right Column -->
          <ion-col size="6">
            <div class="info-item"><span class="lead-label">Property Type</span><br>
              <span class="lead-value">
                {{customerView?.enquiry_proptype == '1'?'Apartment':customerView?.enquiry_proptype ==
                '2'?'Villa':customerView?.enquiry_proptype == '3'?'Plot':customerView?.enquiry_proptype ==
                '4'?'Villament':'--'}}
              </span>
            </div>

            <div class="info-item"><span class="lead-label">Possession</span><br>
              <span class="lead-value">
                {{customerView?.enquiry_possession == '1'?'Immediate':customerView?.enquiry_possession == '2'?
                '6 Months':customerView?.enquiry_possession == '3'?'1 Year':customerView?.enquiry_possession == '4'?
                '< 2 years':'--'}} </span>
            </div>
            <div class="info-item"><span class="lead-label">BHK Type</span><br>
              <span class="lead-value">{{customerView?.enquiry_bhksize?customerView?.enquiry_bhksize +
                "BHK":'--'}}</span>
            </div>
            <div class="info-item"><span class="lead-label">Budget</span><br>
              <span class="lead-value">{{customerView?.enquiry_budget?customerView?.enquiry_budget:'--'}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <!-- LEAD SOURCE -->
  <ion-card class="lead_source_card  mb-0" *ngIf="(this.stageForm == '') && !isEditProDetails &&  !isActivityHistory">
    <ion-row>
      <ion-col class="pb-0"><span class="assigned-header">Lead Source</span></ion-col>
    </ion-row>
    <ion-row class="sourceList">
      <ion-col class="pt-0">{{customerView?.customer_source}}</ion-col>
      <ion-col class="pt-0 d-flex justify-content-end">Lead Recieved -<br>
        {{customerView?.datetime | date:'dd MMM yyyy, hh:mm a'}}</ion-col>
    </ion-row>
  </ion-card>
  <span *ngIf="!isCrmTypeSelection">
    <!-- ASSIGNE TO SECTION -->
    <ion-card class="assigned-card" *ngIf="!isEditProDetails">
      <div class="assigned-header">
        Assigned To
      </div>
      <div class="exec-container">
        <div *ngFor="let exec of leadsDetailsInfo">
          <div class="execName" [ngClass]="selectedExecId ==  exec.RMID 
          ? 'active_text_borederColor' 
          : ''">
            <span style="padding-right: 4px;">
              {{ exec.customer_assign_name }}
            </span>
          </div>
        </div>
      </div>
    </ion-card>

    <!-- SUGGESTED PROPERTY SECTION -->
    <div *ngIf="(this.stageForm == '') && !isEditProDetails && !isActivityHistory">
      <ion-card class="suggested-card">
        <!-- Header -->
        <div class="suggested-header">
          <div class="content_center">
            <span>Suggested Properties</span>
            <ion-icon class="sugg_prop_add" name="add" (click)="displaySuggProperty()"></ion-icon>
          </div>
        </div>

        <div *ngFor="let rm of assignedrm" style="position:relative">
          <div class="property-row" *ngFor="let suggested of rm.suggestedprop;">
            <ion-row>
              <ion-col class="prop-accomp">
                <p class="prop-name">
                  {{suggested.name}}
                </p>
                <p class="accompanied"><span>Accompanied by :</span><span>{{rm.customer_assign_name}}</span></p>
              </ion-col>
              <ion-col class="status" style="color: #D07F00;"
                *ngIf="suggested.actions == '0' && suggested.selection == '0'">
                <span>Not Visited </span>
              </ion-col>
              <ion-col class="status" style="color: #006C00;"
                *ngIf="(suggested.selection == '1' || suggested.selection == '2' || suggested.selection == '3') && suggested.stagestatus == '1' && (suggested.actions == '0' || suggested.actions == '1') ">
                <span>Visit Scheduled </span>{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>
              <ion-col class="status" style="color: #006C00;"
                *ngIf="(suggested.selection == '1' || suggested.selection == '2' || suggested.selection == '3') && suggested.stagestatus == '2' && suggested.actions == '0'">
                <span>Visit Rescheduled</span>{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>
              <ion-col class="status" style="color: red;"
                *ngIf="(suggested.actions == '2' && suggested.selection == '0' && suggested.currentstage == '1') ||(suggested.actions == '5' && suggested.selection == '0' && suggested.currentstage == '3')">
                <span>Visit Cancelled</span>
              </ion-col>
              <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.actions == '1' && suggested.selection == '0' && suggested.stagestatus == '3'">
                <span>Visit Done</span>
                Interested<br> {{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>

              <ion-col class="status" style=" color: #D03E00;"
                *ngIf="suggested.actions == '3' && suggested.selection == '0' && suggested.stagestatus == '3'">
                <span>Visit</span>
                Not
                Interested<br>{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>

              <!-- <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.selection == '3' && suggested.stagestatus == '1' && suggested.actions == '1'">
                <span>Negotiation Scheduled</span>
                {{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col> -->
              <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.selection == '3' && suggested.stagestatus == '2' && suggested.actions == '1'">
                <span>Negotiation Rescheduled</span>
                {{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>
              <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.actions == '4' && suggested.selection == '0' && suggested.currentstage == '4'">
                <span>Negotiation Done</span>
                Interested{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>

              <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.actions == '1' && suggested.selection == '0' && suggested.currentstage == '4'">
                <span>FN Done</span>
                Interested{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>
              <ion-col class="status" style="background: red;"
                *ngIf="suggested.actions == '2' && suggested.selection == '0' && suggested.currentstage == '4'">
                <span>Negotiation Cancelled</span>
              </ion-col>
              <ion-col class="status" style="color: #D03E00;"
                *ngIf="suggested.actions == '3' && suggested.selection == '0' && suggested.currentstage == '4'">
                <span>Negotiation Done</span>
                Not
                Interested{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>
              <ion-col class="status" style="background: red;"
                *ngIf="suggested.actions == '0' && suggested.selection == '3' && suggested.stagestatus == '3'">
                <span>Negotiation Done</span>
                Visit Status Not Updated{{suggested.nextdate}} ,
                {{suggested.nexttime}}
              </ion-col>
              <ion-col class="status" style="background: #e07979;"
                *ngIf="suggested.actions == '9' && suggested.selection == '3' && suggested.currentstage == '4'">
                <span>Negotiation Done</span>
                Next Action Not Taken
              </ion-col>
              <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.actions == '7' && suggested.currentstage == '5'">
                <span *ngIf="adminview">Requested For Deal Closure</span>
                <span *ngIf="execview">Approval Pending</span>
              </ion-col>

              <ion-col class="status" style="color: #006C00;"
                *ngIf="suggested.actions == '6' && suggested.currentstage == '5'">
                <span *ngIf="adminview">Deal Successfully Closed</span>
                <span *ngIf="execview">Deal Closed</span>
              </ion-col>

              <ion-col class="status" style="color: red;"
                *ngIf="suggested.actions == '8' && suggested.currentstage == '5'">
                <span *ngIf="adminview">Rejected - Waiting
                  for Response</span>
                <span *ngIf="execview">Request
                  Rejected</span>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="rm?.suggestedprop?.length == 0" class="d-flex align-items-center justify-content-center">
            <span>No Properties Suggested</span>
          </div>
        </div>
      </ion-card>
    </div>
    <input type="hidden" id="customer_phase4">
    <!-- LEAD STATUS -->
    <ion-card *ngIf="!isEditProDetails && !isActivityHistory " id="statusSection">
      <!-- Header -->
      <div class="leads-status-header" (click)="actionChange('onleadStatus')">
        <div>
          <span>Leads Status</span>
        </div>
      </div>

      <ion-row class="gap-1 pt-0 px-1 pb-1"
        *ngIf="((roleid == '1' || roleid != '1')&&( USV != false || SV != false || RSV != false ||Negotiation != false || leadclose != false || FOLLOWUP != false || JUNK != false) && activestagestatus && activestagestatus[0]?.stage != 'Junk')">

        <ion-col size="3.5" *ngIf="FOLLOWUP"
          [ngClass]="stageForm == 'Follow Up' && followform? 'bg_textColor':'status-btn'"
          class="content_center status-btn" (click)="actionChange('Follow Up')">
          <span class="followup">Followup</span>
        </ion-col>

        <ion-col *ngIf="rescheduledUsv" size="4"
          [ngClass]="stageForm == 'USVUpdate' && usvform ? 'bg_textColor':'status-btn'"
          class="content_center status-btn" (click)="actionChange('USVUpdate')">
          <span class="usv">Update Visit</span>
        </ion-col>

        <ion-col *ngIf="USV" size="3.5" class="content_center status-btn"
          [ngClass]="stageForm == 'USV'&& usvform? 'bg_textColor':'status-btn'" (click)="actionChange('USV')">
          <span *ngIf="activestagestatus?.length && activestagestatus[0]?.stage == 'Fresh'">Schedule</span>
          <span *ngIf="activestagestatus?.length && activestagestatus[0]?.stage != 'Fresh'">Reschedule</span>
        </ion-col>

        <ion-col *ngIf="rescheduledrsv" size="4" class="content_center status-btn"
          [ngClass]="stageForm == 'RSVUpdate' && rsvform? 'bg_textColor':'status-btn'"
          (click)="actionChange('RSVUpdate')">
          <span class="fn">Update Visit</span>
        </ion-col>

        <ion-col *ngIf="RSV" size="3.5" class="content_center status-btn"
          [ngClass]="stageForm == 'RSV' && rsvform? 'bg_textColor':'status-btn'" (click)="actionChange('RSV')">
          <span class="fn">Reschedule</span>
        </ion-col>

        <ion-col size="4" *ngIf="rescheduledfn"
          [ngClass]="stageForm == 'FNUpdate' && finalnegoform? 'bg_textColor':'status-btn'"
          class="content_center junk status-btn" (click)="actionChange('FNUpdate')">
          <span>Update Visit</span>
        </ion-col>

        <ion-col size="3.5" *ngIf="Negotiation"
          [ngClass]="stageForm == 'Final Negotiation' && finalnegoform? 'bg_textColor':'status-btn'"
          class="content_center junk status-btn" (click)="actionChange('Final Negotiation')">
          <span>FN</span>
        </ion-col>

        <ion-col size="3.5" *ngIf="leadclose && feedbackID != 1 "
          [ngClass]="stageForm == 'Lead Closed' && leadclosedform? 'bg_textColor':'status-btn'"
          class="content_center junk status-btn" (click)="actionChange('Lead Closed')">
          <span>Closed</span>
        </ion-col>

        <ion-col size="3.5" *ngIf="JUNK"
          [ngClass]="stageForm == 'Move to Junk' && junkform? 'bg_textColor':'status-btn'"
          class="content_center junk status-btn" (click)="actionChange('Move to Junk')">
          <span>Junk</span>
        </ion-col>
      </ion-row>

      <div *ngIf="activestagestatus?.length && activestagestatus[0]?.stage == 'Junk' && roleid == '1'"
        style="display: flex;flex-direction: column;justify-content: center;align-items: center;" class="pb-1">
        <div style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">Lead
          Moved to Junk</div>
        <button class="btn btn-warning" type="button" (click)="revertStage()">Revert</button>
      </div>

      <div *ngIf="roleid != '1' && activestagestatus?.length && activestagestatus[0]?.stage == 'Junk'"
        style="display: flex;flex-direction: column;justify-content: center;align-items: center;" class="pb-1">
        <div style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #a9a9a9;">Lead
          Moved to Junk</div>
      </div>

      <div *ngIf="roleid != '1' && activestagestatus?.length && activestagestatus[0]?.stage == 'Deal Closed'"
        class="pb-1">
        <div style="font-size:medium;font-weight: 700;display: flex;justify-content: center;color: #459f1b;">Deal
          Closed Successfully</div>
      </div>
    </ion-card>
    <ion-card *ngIf="stageForm !=''">
      <app-retail-followupform *ngIf="followform" [selectedExecId]="selectedExecId">
      </app-retail-followupform>
      <app-usvform *ngIf="usvform" [refreshTrigger]="refreshFlag" [selectedBtn]="selectedBtn"
        [selectedExecId]="selectedExecId" (openModal)="displaySuggProperty()"></app-usvform>

      <app-rsvform *ngIf="rsvform" [refreshTrigger]="refreshFlag" [selectedBtn]="selectedBtn"
        [selectedExecId]="selectedExecId" (openModal)="displaySuggProperty()"></app-rsvform>

      <app-negoform *ngIf="finalnegoform" [refreshTrigger]="refreshFlag" [selectedBtn]="selectedBtn"
        [selectedExecId]="selectedExecId" (openModal)="displaySuggProperty()"></app-negoform>

      <app-closedform *ngIf="leadclosedform" [refreshTrigger]="refreshFlag" [selectedBtn]="selectedBtn"
        [selectedExecId]="selectedExecId"></app-closedform>

      <app-retail-junk-form *ngIf="junkform" [selectedBtn]="selectedBtn"
        [selectedExecId]="selectedExecId"></app-retail-junk-form>

    </ion-card>

  </span>

  <!-- ACTIVITIES SECTION -->
  <ion-card *ngIf="!isEditProDetails && !isActivityHistory && this.stageForm == ''" id="statusSection">
    <!-- Header -->
    <div class="leads-status-header" (click)="actionChange('onleadhistory')" *ngIf="!isActivityHistory">
      <div class="d-flex ion-align-items-center ion-justify-content-between">
        <span>Activities</span>
        <span (click)="showAllActivities()" *ngIf="leadtrack && leadtrack.length > 1">View All >></span>
      </div>
    </div>

    <ion-row *ngIf="!isActivityHistory">

      <div class="w-full px-2 pb-2" *ngIf="leadtrack && leadtrack.length > 0">
        <span>{{leadtrack[1].Remarks}}</span>
        <div class="d-flex justify-content-end">{{leadtrack[1].Saveddate}}</div>
      </div>

      <div *ngIf="leadtrack?.length == 0">
        <ion-row>
          <ion-col class="content_center p-1 font-size12-familyPoppins "><span>No History
              Found...</span></ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-card>
  <div *ngIf="isActivityHistory">
    <div class="timeline-item" *ngFor="let leadhistory of leadtrack;let i = index">
      <ion-row class="date-header w-100" *ngIf="leadhistory.item_type=='message_date'">
        <ion-col>
          <span>{{leadhistory.Saveddate}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="w-100" *ngIf="leadhistory.item_type!='message_date'">
        <ion-col size="1" class="timeline-left py-0">
          <span class="dot"></span>
          <span class="line"
            *ngIf="leadhistory.item_type != 'message_date' && getItemsCountForDate(i) > 1 &&     !isLastItemUnderDate(i)">
          </span>
        </ion-col>
        <ion-col size="2.5" class="time py-0">
          {{ leadhistory.Saveddate |date:'hh:mm a' }}
        </ion-col>
        <ion-col size="8.5" class="timeline-right py-0">
          <p class="text">
            {{((leadhistory.autoremarks == 'got this new lead from Admin' ||
            leadhistory.autoremarks == 'got this lead from Admin' ||
            leadhistory.autoremarks == 'got this new lead from Admin Auto-Assigned' ||
            leadhistory.autoremarks == 'got this lead from Admin auto assigned' ||
            leadhistory.autoremarks == 'got this new lead from Admin auto') ? leadhistory.executivename :
            leadhistory.updatebyname)}}
            <span>{{ leadhistory.autoremarks}}</span>
          </p>
          <p class="remarks">{{leadhistory.Remarks}}</p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <!-- CATEGORY ADD SECTION -->
  <ion-card class="leadSegment" *ngIf="isCrmTypeSelection">
    <ion-row>
      <ion-col class="d-flex align-items-center flex-column ">
        <ion-img src="../../../assets/cp/lead-segment-icon.svg"></ion-img>
        <h1>Lead Segmentation</h1>
        <p>Select the lead Segment to proceed</p>
        <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmitcategory()" class="addCategory w-100">
          <ion-row class="gap-2 catagary-row py-2">
            <ion-col class="d-flex align-items-center justify-content-center p-1" (click)="togglecategory('1')"
              [class.active]="addCategoryForm.value.category?.includes('1')">
              Sale <ion-icon *ngIf="!addCategoryForm.value.category?.includes('1')" name="add"></ion-icon><ion-icon
                *ngIf="addCategoryForm.value.category?.includes('1')" name="checkmark"></ion-icon>
            </ion-col>
            <ion-col class="d-flex align-items-center justify-content-center p-1" (click)="togglecategory('2')"
              [class.active]="addCategoryForm.value.category?.includes('2')">
              Resale <ion-icon name="add" *ngIf="!addCategoryForm.value.category?.includes('2')"></ion-icon><ion-icon
                *ngIf="addCategoryForm.value.category?.includes('2')" name="checkmark"></ion-icon>
            </ion-col>
            <ion-col class="d-flex align-items-center justify-content-center p-1" (click)="togglecategory('3')"
              [class.active]="addCategoryForm.value.category?.includes('3')">
              Rental <ion-icon name="add" *ngIf="!addCategoryForm.value.category?.includes('3')"></ion-icon><ion-icon
                *ngIf="addCategoryForm.value.category?.includes('3')" name="checkmark"></ion-icon>
            </ion-col>
          </ion-row>
          <span class="error-text">{{hasError('category','required') ? 'Please Select Category' : ''}}</span>
          <div class="d-flex justify-content-center w-100">
            <ion-button class="save-btn"
              [ngClass]="addCategoryForm.value.category?.length ? 'active-proceed-btn' : 'normal-proceed-btn'"
              fill="clear" type="submit" [disabled]="!addCategoryForm.value.category?.length">
              Proceed
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-card>


  <!-- EDIT LEAD DETAILS -->
  <div *ngIf="isEditProDetails" style="margin: 10px;margin-bottom:20%">
    <div class="enquiredDetails">
      <ion-row>
        <ion-col class="ion-text-center">
          <span style="color: #004466;">Enquired Details</span>
        </ion-col>
      </ion-row>

      <ion-row class="enqDetailsHeading">
        <ion-col>
          <span class="font-size12-familyPoppins font-weight400">Name</span>
        </ion-col>
        <ion-col>
          <span class="font-size12-familyPoppins font-weight400">Mobile Number</span>
        </ion-col>
      </ion-row>
      <ion-row class="enqDetailsdata">
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">{{customerView?.customer_name}}</span>
        </ion-col>
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">{{customerView?.customer_number}}</span>

        </ion-col>
      </ion-row>

      <ion-row class="enqDetailsHeading">
        <ion-col>
          <span class="font-size12-familyPoppins font-weight400">Mail ID</span>
        </ion-col>
      </ion-row>
      <ion-row class="enqDetailsdata">
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_mail?customerView?.customer_mail:'--'}}
          </span>
        </ion-col>
      </ion-row>

      <ion-row class="enqDetailsHeading">
        <ion-col><span class="font-size12-familyPoppins font-weight400">Location</span></ion-col>
        <ion-col><span class="font-size12-familyPoppins font-weight400">Project</span></ion-col>
      </ion-row>
      <ion-row class="enqDetailsdata">
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_location?customerView?.customer_location:'--'}}
          </span>
        </ion-col>
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_properties?customerView?.customer_properties:'--'}}
          </span>
        </ion-col>
      </ion-row>

      <ion-row class="enqDetailsHeading">
        <ion-col>
          <span class="font-size12-familyPoppins font-weight400">Property Type</span>
        </ion-col>
        <ion-col>
          <span class="font-size12-familyPoppins font-weight400">Size</span>
        </ion-col>
      </ion-row>
      <ion-row class="enqDetailsdata">
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_proptype?customerView?.customer_proptype:'--'}}
          </span>
        </ion-col>
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_size?customerView?.customer_size:'--'}}
          </span>
        </ion-col>
      </ion-row>

      <ion-row class="enqDetailsHeading">
        <ion-col><span class="font-size12-familyPoppins font-weight400">Possession</span></ion-col>
        <ion-col><span class="font-size12-familyPoppins font-weight400">Budget</span></ion-col>
      </ion-row>
      <ion-row class="enqDetailsdata">
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_timeline?customerView?.customer_timeline:'--'}}
          </span>
        </ion-col>
        <ion-col>
          <span class="font-size14-familyPoppins font-weight400">
            {{customerView?.customer_budget?customerView?.customer_budget:'--'}}
          </span>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Primary Name</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="customer_name" class="inner-content" [(ngModel)]="getName" name="customer_name"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Alternate Name</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="enquiry_name" class="inner-content" placeholder="Enter Alternate Name"
            [(ngModel)]="customerView.enquiry_altname" (oninput)="alternateNumbercheck($event)"
            name="enquiry_name"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Primary Number</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="customer_number" disabled class="inner-content" [(ngModel)]="customerView.customer_number"
            name="customer_number"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Alternate Number</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="inner-content" placeholder="Enter Alternate Number"
            [(ngModel)]="customerView.enquiry_altnumber" id="enquiry_number" name="enquiry_number" maxlength="10"
            inputmode="numeric" (ionInput)="alternateNumbercheck($event)">
          </ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Primary Email ID</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="customer_mail" class="inner-content"
            [placeholder]="(customerView?.customer_mail || this.customerView?.enquiry_mail) ?'':'--'"
            [(ngModel)]="getMail" name="customer_mail"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Alternate Email ID</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="enquiry_mail" class="inner-content" placeholder="Enter Alternative Number"
            [(ngModel)]="customerView.enquiry_altmail" name="enquiry_mail"></ion-input>

          <ion-input id="enquiry_mail" class="inner-content" [hidden]="true" name="customer_name"
            placeholder="xxxxxxxxxx"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Preferred Location</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="customerView.localityid"
            [placeholder]="customerView?.proptypeid?'':'--'" name="localityid">
            <ion-select-option *ngFor="let locality of locality"
              [value]="locality.id">{{locality.locality}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Lead Priority</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="customerView.lead_priority" name="leadpriority"
            [placeholder]="customerView?.lead_priority?'':'--'">
            <ion-select-option *ngFor="let priority of leadpriority"
              [value]="priority.id">{{priority.priority}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Preferred Type</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="customerView.enquiry_proptype"
            (ionChange)="onPropertyTypeChange($event.detail.value)"
            [placeholder]="customerView?.enquiry_proptype?'':'--'" name="leadpriority">
            <ion-select-option value="1">Apartment</ion-select-option>
            <ion-select-option value="2">Villa</ion-select-option>
            <ion-select-option value="3">Plot</ion-select-option>
            <ion-select-option value="4">villament</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Possession With</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="customerView.enquiry_possession"
            [placeholder]="customerView?.enquiry_possession?'':'--'" name="leadpriority">
            <ion-select-option value="2">
              {{'< 6 Months'}} </ion-select-option>
                <ion-select-option value="3">1 year</ion-select-option>
                <ion-select-option value="4">1-2 Year</ion-select-option>
                <ion-select-option value="5">
                  > 2 years</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Preferred Size</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" [placeholder]="customerView?.enquiry_bhksize?'':'--'"
            [(ngModel)]="customerView.enquiry_bhksize" name="customer_size">
            <ion-select-option *ngFor="let size of size_array" [value]="size.id">{{size.size}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div class="lead-details">
      <ion-row><ion-col>
          <p>Preferred Budget</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col>
          <ion-select interface="popover" [(ngModel)]="customerView.enquiry_budget" name="customer_budget"
            [placeholder]="customerView?.enquiry_budget?'':'--'">
            <ion-select-option *ngFor="let budget of budget_array" [value]="budget">{{budget}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>

    <div class="custom-textArea" style="height:0">
      <ion-row><ion-col>
          <p>Address</p>
        </ion-col></ion-row>
      <ion-row>
        <ion-col class="paddingZero">
          <ion-textarea [(ngModel)]="customerView.address" [placeholder]="customerView?.address?'':'--'"></ion-textarea>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="isEditProDetails">
  <ion-toolbar>
    <div class="lead-details mt-0">
      <ion-row>
        <ion-col class="cancel-btn ion-text-center" (click)="_location.back();onBackbutton()">
          <div>Cancel</div>
        </ion-col>
        <ion-col class="save-btn ion-text-center" (click)="updateProfile()">
          <div>Update</div>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-footer>

<!-- SUGGESTED MODAL -->
<ion-modal id="suggested-modal" #suggModal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <ion-row>
        <ion-col size="10">
          <span class="headSuggProp">Properties for Suggestions</span>
        </ion-col>
        <ion-col size="2" (click)="suggModal.dismiss()" class="ion-text-end">
          <ion-icon name="close"></ion-icon>
        </ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col>
            <ng-multiselect-dropdown (onSelect)="onSelectSuggProp($event)" (onDeSelect)="deSelectSuggProp($event)"
              [placeholder]="'Select Properties'" [settings]="dropdownSettings"
              [data]="properties"></ng-multiselect-dropdown>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col class="ion-text-right" (click)="addpropertiestolist()">
          <ion-button fill="clear" class="bg_textColor">Add to List</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-modal>

<!-- TO VIEW THE MERGED LEAD DETAILS -->
<ion-modal #viewToMergedLeads class="viewMergedLedasModal">
  <ng-template>
    <ion-row class="mergerModal_heading">
      <ion-col size="10">
        <span class="font-size16-familyPoppins">Merged Leads</span>
      </ion-col>
      <ion-col size="2" class="content_center" (click)="viewToMergedLeads.dismiss()">
        <ion-icon name="close" style="font-size: 25px;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-content>
      <div style="margin: 10px;" *ngFor="let lead of mergedleads" class="mergedLeadsInfo">
        <ion-row class="mergedLeadsInfo-heading">
          <ion-col size="7">
            <div><span class="mergedLeadsInfo-value">Lead Name</span></div>
            <div>{{lead.mergedName}}</div>
          </ion-col>
          <ion-col size="5">
            <div><span class="mergedLeadsInfo-value">Relationship</span></div>
            <div>{{lead.relationship}}</div>
          </ion-col>
        </ion-row>
        <ion-row class="mergedLeadsInfo-heading">
          <ion-col size="7">
            <div><span class="mergedLeadsInfo-value">Mail</span></div>
            <div>{{lead.mergedMail}}</div>
          </ion-col>
          <ion-col size="5">
            <div><span class="mergedLeadsInfo-value">Contact number</span></div>
            <div>{{lead.mergedNumber}}</div>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal #mergeModal class="mergeModal">
  <ng-template>
    <div class="content_center loader" *ngIf="showSpinner">
      <ion-spinner name="circular" style="color: white;"></ion-spinner>
    </div>
    <div class="">
      <ion-row class="mergerModal_heading">
        <ion-col size="10">
          <span class="font-size16-familyPoppins">Merge the Lead</span>
        </ion-col>
        <ion-col size="2" class="content_center" (click)="onCloseMergeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-col>
      </ion-row>
      <div style="margin:10px">
        <ion-row>
          <ion-col>
            <ion-searchbar [(ngModel)]="leadSearchTerm" (ionInput)="searchClient($event)"
              placeholder="Search by name or number (min 5 characters)"></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="font-size10-familyPoppins">
            <span style="color:#7E7E7E">
              You're merging these contacts. This will combine their info into one entry. Review the details below and
              select the preferred contact number.
            </span>
          </ion-col>
        </ion-row>
      </div>

      <ion-content style="height:45vh" *ngIf="filteredLeads.length !== 0">
        <div class="lead-info" *ngFor="let lead of filteredLeads" (click)="onFilteredLead(lead)">
          <ion-row class="info-row-heading">
            <ion-col>
              <div>{{lead.customer_name}}</div>
              <div><span class="info-row-value">Lead Name</span></div>
            </ion-col>
            <ion-col>
              <div>{{lead.customer_number}}</div>
              <div><span class="info-row-value">Contact number</span></div>
            </ion-col>
          </ion-row>
        </div>
      </ion-content>

      <!-- <ion-content style="height:45vh"> -->
      <div class="lead-info" *ngFor="let lead of filteredLead">
        <ion-row class="info-row-heading">
          <ion-col>
            <div>{{lead.customer_name}}</div>
            <div><span class="info-row-value">Lead Name</span></div>
          </ion-col>
          <ion-col>
            <div>{{lead.customer_number}}</div>
            <div><span class="info-row-value">Contact number</span></div>
          </ion-col>
        </ion-row>

        <ion-row class="info-row-heading">
          <ion-col>
            <div>{{lead.Lead_stage}}</div>
            <div><span class="info-row-value">Lead Stage</span></div>
          </ion-col>
          <ion-col>
            <div>{{lead.execname}}</div>
            <div><span class="info-row-value">Executive Name</span></div>
          </ion-col>
        </ion-row>
        <ion-row class="info-row-heading">
          <ion-col>
            <span>Relationship between Them</span>
          </ion-col>
        </ion-row>
        <ion-row class="relationshipDropdown">
          <ion-col style="padding:0">
            <p-dropdown [options]="relationShips" optionLabel="name" [(ngModel)]="selectedRelation"
              placeholder="Select a Team" name="teamSelect" />
          </ion-col>
        </ion-row>
        <ion-row class="info-row-heading">
          <ion-col>
            <span>Primary Lead</span>
          </ion-col>
        </ion-row>
        <ion-row class="relationshipDropdown">
          <ion-col style="padding:0">
            <p-dropdown [options]="mergeLeadDetails" optionLabel="name" [(ngModel)]="selectedLeadP"
              placeholder="Select a Team" name="teamSelect" />
          </ion-col>
        </ion-row>
      </div>

      <!-- If leads detail empty -->
      <ion-row *ngIf="filteredLeads.length === 0 && leadSearchTerm"
        class="textStyle ion-justify-content-center ion-align-items-center">
        <ion-col class="ion-text-center"><span>No Data Found...</span></ion-col>
      </ion-row>
      <!-- </ion-content> -->
    </div>
    <ion-footer class="merge-footer">
      <ion-row>
        <ion-col class="ion-text-center" [ngClass]="isActiveMerge?'textBgColor':''">
          <ion-button fill="clear" [disabled]="!isActiveMerge" (click)="onMergeLead()">Merge</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ng-template>
</ion-modal>
<app-cp-footer></app-cp-footer>