<app-cp-header></app-cp-header>
<div class="content_center loader" *ngIf="showSpinner">
  <ion-img style="width: 300px; height: 70px" src="../assets/CRMimages/animation/loader.gif"></ion-img>
</div>
<ion-row class="sale-resale-rental-row mb-0">
  <ion-col size="4" *ngFor="let category of  customerView?.listing_category?.slice().reverse()"
    class="d-flex  align-items-center justify-content-center px-0" [class.active_btn]="categoryid === category?.id">

    <span class="text-capitalize">{{category.type}}</span>
    <span>
      <ion-img *ngIf="categoryid != category?.id && category?.id == '1'" src="../../../assets/cp/sale.svg"></ion-img>
      <ion-img *ngIf="categoryid == category?.id && category?.id == '1'"
        src="../../../assets/cp/active-sale.svg"></ion-img>
    </span>
    <span>
      <ion-img *ngIf="categoryid != category?.id && category?.id == '2'" src="../../../assets/cp/resale.svg"></ion-img>
      <ion-img *ngIf="categoryid == category?.id && category?.id == '2'"
        src="../../../assets/cp/active-resale.svg"></ion-img>
    </span>
    <span>
      <ion-img *ngIf="categoryid != category?.id && category?.id == '3'" src="../../../assets/cp/rental.svg"></ion-img>
      <ion-img *ngIf="categoryid == category?.id && category?.id == '3'"
        src="../../../assets/cp/active-rental.svg"></ion-img>
    </span>
  </ion-col>

</ion-row>
<ion-content>

  <ion-card class="lead-card mb-0" *ngIf="(this.stageForm == '') && !isEditProDetails && !isActivityHistory">
    <ion-grid class="p-0">
      <ion-row class="ion-align-items-start ion-justify-content-between">
        <ion-col size="11">
          <div class="name-tag-row">
            <span class="lead-name">
              {{ customerView?.customer_name && customerView?.enquiry_altname?
              customerView?.customer_name +"/"+ customerView?.enquiry_altname:customerView?.enquiry_name
              ?customerView?.enquiry_name:customerView?.customer_name }}
            </span>

            <div class="d-flex align-items-center pl-1">
              <span
                [ngClass]="customerView?.lead_priority == '1'?'hot_txt':customerView?.lead_priority == '2'?'warm_txt':customerView?.lead_priority == '3'?'cold_txt':'set_priority'"
                class="d-flex ">
                {{customerView?.lead_priority ==
                '1'?'Hot':customerView?.lead_priority ==
                '2'?'Warm':customerView?.lead_priority == '3'?'Cold':'' }}
                <ion-img *ngIf="customerView?.lead_priority == '1'"
                  src="../../../assets/CRMimages/hot_orrange_icon.svg"></ion-img>
                <ion-img *ngIf="customerView?.lead_priority =='2'"
                  src="../../../assets/CRMimages/warm-color-icon.svg"></ion-img>
                <ion-img *ngIf="customerView?.lead_priority == '3'"
                  src="../../../assets/CRMimages/cold-color-icon.svg"></ion-img>
              </span>
            </div>
          </div>
          <div class="subtext">{{customerView?.customer_source}}</div>
        </ion-col>

        <ion-col size="1" class="ion-text-right" style="margin-top: 2px;" id="click-trigger">
          <ion-icon name="ellipsis-vertical" class="dots-icon"></ion-icon>
        </ion-col>

        <ion-popover trigger="click-trigger" triggerAction="click" class="edit-lead-details-popover">
          <ng-template>
            <ion-content class="ion-padding">
              <div class="edit-lead-details" (click)="onEditPropDetails()">
                <ion-img src="../../assets/CRMimages/leadinfo_edit-icon.svg"></ion-img>
                <span class="font-size12-familyPoppins">
                  Edit Details
                </span>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- LEAD INFORMATION SECTION -->
  <div *ngIf="(this.stageForm == '') && !isEditProDetails  && !isActivityHistory">
    <ion-card class="info-card  mb-0">
      <ion-grid class="paddingZero">
        <ion-row>
          <!-- Left Column -->
          <ion-col size="6" style="border-right:1px solid rgba(210, 207, 207, 1);">
            <div class="info-item">
              <span class="lead-label">Contact Number</span><br>
              <span>
                <span class="lead-value">
                  <span> {{customerView?.customer_number}} <span *ngIf="customerView?.enquiry_altnumber"><span
                        *ngIf="customerView?.customer_number">/</span>{{customerView?.enquiry_altnumber}}</span></span>
                </span>
              </span>

              <span class="merge-badge" style="float: right;" (click)="onMergeIcon()">Merge
                <ion-img src="../../assets/CRMimages/merge_icon.svg" style="width: 18px;padding-left: 5px"></ion-img>
              </span>
            </div>
            <div class="info-item"><span class="lead-label">Mail ID</span><br>
              <span>
                <div class="lead-value">{{customerView?.customer_mail?customerView?.customer_mail:'--'}}</div>
                <div *ngIf="customerView?.enquiry_altmail" class="lead-value">/{{customerView?.enquiry_altmail}}</div>
              </span>
            </div>
            <div class="info-item"><span class="lead-label">Enquired Project</span><br>
              <span class="lead-value">
                {{customerView?.customer_properties?customerView?.customer_properties:'--'}}</span>
            </div>

            <div class="info-item"><span class="lead-label">Preferred location</span><br>
              <span class="lead-value">{{customerView?.enquiry_location?customerView?.enquiry_location:'--'}}</span>
            </div>
          </ion-col>

          <!-- Right Column -->
          <ion-col size="6">
            <div class="info-item"><span class="lead-label">Property Type</span><br>
              <span class="lead-value">
                {{customerView?.enquiry_proptype == '1'?'Apartment':customerView?.enquiry_proptype ==
                '2'?'Villa':customerView?.enquiry_proptype == '3'?'Plot':customerView?.enquiry_proptype ==
                '4'?'Villament':'--'}}
              </span>
            </div>

            <div class="info-item"><span class="lead-label">Possession</span><br>
              <span class="lead-value">
                {{customerView?.enquiry_possession == '1'?'Immediate':customerView?.enquiry_possession == '2'?
                '6 Months':customerView?.enquiry_possession == '3'?'1 Year':customerView?.enquiry_possession == '4'?
                '< 2 years':'--'}} </span>
            </div>
            <div class="info-item"><span class="lead-label">BHK Type</span><br>
              <span class="lead-value">{{customerView?.enquiry_bhksize?customerView?.enquiry_bhksize +
                "BHK":'--'}}</span>
            </div>
            <div class="info-item"><span class="lead-label">Budget</span><br>
              <span class="lead-value">{{customerView?.enquiry_budget?customerView?.enquiry_budget:'--'}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <!-- LEAD SOURCE -->
  <ion-card class="lead_source_card  mb-0" *ngIf="(this.stageForm == '') && !isEditProDetails &&  !isActivityHistory">
    <ion-row>
      <ion-col class="pb-0"><span class="assigned-header">Lead Source</span></ion-col>
    </ion-row>
    <ion-row class="sourceList">
      <ion-col class="pt-0">{{customerView?.customer_source}}</ion-col>
      <ion-col class="pt-0 d-flex justify-content-end">Lead Recieved -<br>
        {{customerView?.datetime | date:'dd MMM yyyy, hh:mm a'}}</ion-col>
    </ion-row>
  </ion-card>

  <!-- ASSIGNE TO SECTION -->
  <ion-card class="assigned-card" *ngIf="!isEditProDetails">
    <div class="assigned-header">
      Assigned To
    </div>
    <div class="exec-container">
      <div *ngFor="let exec of leadsDetailsInfo">
        <div class="execName" [ngClass]="selectedExecId ==  exec.RMID 
          ? 'active_text_borederColor' 
          : ''">
          <span style="padding-right: 4px;">
            {{ exec.customer_assign_name }}
          </span>
        </div>
      </div>
    </div>
  </ion-card>

  <!-- SUGGESTED PROPERTY SECTION -->
  <div *ngIf="(this.stageForm == '') && !isEditProDetails && !isActivityHistory">
    <ion-card class="suggested-card">
      <!-- Header -->
      <div class="suggested-header">
        <div class="content_center">
          <span>Suggested Properties</span>
          <ion-icon class="sugg_prop_add" name="add" (click)="displaySuggProperty()"></ion-icon>
        </div>
      </div>

      <div *ngFor="let rm of assignedrm" style="position:relative">
        <div class="property-row" *ngFor="let suggested of rm.suggestedprop;">
          <ion-row>
            <ion-col class="prop-accomp">
              <p class="prop-name">
                {{suggested.name}}
              </p>
              <p class="accompanied"><span>Accompanied by :</span><span>{{rm.customer_assign_name}}</span></p>
            </ion-col>
            <ion-col class="status" style="color: #D07F00;"
              *ngIf="suggested.actions == '0' && suggested.selection == '0'">
              <span>Not Visited </span>
            </ion-col>
            <ion-col class="status" style="color: #006C00;"
              *ngIf="(suggested.selection == '1' || suggested.selection == '2' || suggested.selection == '3') && suggested.stagestatus == '1' && (suggested.actions == '0' || suggested.actions == '1')">
              <span>Visit Scheduled </span>{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="color: #006C00;"
              *ngIf="(suggested.selection == '1' || suggested.selection == '2' || suggested.selection == '3') && suggested.stagestatus == '2' && suggested.actions == '0'">
              <span>Visit Rescheduled</span>{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="color: red;"
              *ngIf="(suggested.actions == '2' && suggested.selection == '0' && suggested.currentstage == '1') ||(suggested.actions == '5' && suggested.selection == '0' && suggested.currentstage == '3')">
              <span>Visit Cancelled</span>
            </ion-col>
            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.actions == '1' && suggested.selection == '0' && suggested.stagestatus == '3'">
              <span>Visit Done</span>
              Interested {{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>

            <ion-col class="status" style=" color: #D03E00;"
              *ngIf="suggested.actions == '3' && suggested.selection == '0' && suggested.stagestatus == '3'">
              <span>Visit</span>
              Not
              Interested{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>

            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.selection == '3' && suggested.stagestatus == '1' && suggested.actions == '1'">
              <span>Negotiation Scheduled</span>
              {{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.selection == '3' && suggested.stagestatus == '2' && suggested.actions == '1'">
              <span>Negotiation Rescheduled</span>
              {{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.actions == '4' && suggested.selection == '0' && suggested.currentstage == '4'">
              <span>Negotiation Done</span>
              Interested{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>

            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.actions == '1' && suggested.selection == '0' && suggested.currentstage == '4'">
              <span>FN Done</span>
              Interested{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="background: red;"
              *ngIf="suggested.actions == '2' && suggested.selection == '0' && suggested.currentstage == '4'">
              <span>Negotiation Cancelled</span>
            </ion-col>
            <ion-col class="status" style="color: #D03E00;"
              *ngIf="suggested.actions == '3' && suggested.selection == '0' && suggested.currentstage == '4'">
              <span>Negotiation Done</span>
              Not
              Interested{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="background: red;"
              *ngIf="suggested.actions == '0' && suggested.selection == '3' && suggested.stagestatus == '3'">
              <span>Negotiation Done</span>
              Visit Status Not Updated{{suggested.nextdate}} ,
              {{suggested.nexttime}}
            </ion-col>
            <ion-col class="status" style="background: #e07979;"
              *ngIf="suggested.actions == '9' && suggested.selection == '3' && suggested.currentstage == '4'">
              <span>Negotiation Done</span>
              Next Action Not Taken
            </ion-col>
            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.actions == '7' && suggested.currentstage == '5'">
              <span *ngIf="adminview">Requested For Deal Closure</span>
              <span *ngIf="execview">Approval Pending</span>
            </ion-col>

            <ion-col class="status" style="color: #006C00;"
              *ngIf="suggested.actions == '6' && suggested.currentstage == '5'">
              <span *ngIf="adminview">Deal Successfully Closed</span>
              <span *ngIf="execview">Deal Closed</span>
            </ion-col>

            <ion-col class="status" style="color: red;"
              *ngIf="suggested.actions == '8' && suggested.currentstage == '5'">
              <span *ngIf="adminview">Rejected - Waiting
                for Response</span>
              <span *ngIf="execview">Request
                Rejected</span>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-card>
  </div>
  <input type="hidden" id="customer_phase4">
  <!-- LEAD STATUS -->
  <ion-card *ngIf="!isEditProDetails && !isActivityHistory " id="statusSection">
    <!-- Header -->
    <div class="leads-status-header" (click)="actionChange('onleadStatus')">
      <div>
        <span>Leads Status</span>
      </div>
    </div>

    <ion-row
      *ngIf="(roleid == '1' || roleid != '1')&&( USV != false || SV != false || RSV != false ||Negotiation != false || leadclose != false || FOLLOWUP != false || JUNK != false) && activestagestatus && activestagestatus[0]?.stage != 'Junk'">

      <ion-col size="3.5" *ngIf="FOLLOWUP" [ngClass]="stageForm == 'followupform'? 'bg_textColor':'status-btn'"
        class="content_center status-btn" (click)="actionChange('Follow Up')">
        <span class="followup">Followup</span>
      </ion-col>

      <ion-col *ngIf="rescheduledUsv" size="3.5" [ngClass]="stageForm == 'usvform'? 'bg_textColor':'status-btn'"
        class="content_center status-btn" (click)="actionChange('USVUpdate')">
        <span class="usv">Update Visit</span>
      </ion-col>

      <ion-col *ngIf="USV" size="3.5" class="content_center status-btn"
        [ngClass]="stageForm == 'rsvform'? 'bg_textColor':'status-btn'" (click)="actionChange('USV')">
        <span *ngIf="activestagestatus?.length && activestagestatus[0]?.stage == 'Fresh'">Schedule</span>
        <span *ngIf="activestagestatus?.length && activestagestatus[0]?.stage != 'Fresh'">Reschedule</span>
      </ion-col>

      <ion-col *ngIf="rescheduledrsv" size="3.5" class="content_center status-btn"
        [ngClass]="stageForm == 'finalnegoform'? 'bg_textColor':'status-btn'" (click)="actionChange('RSVUpdate')">
        <span class="fn">Update Visit</span>
      </ion-col>

      <ion-col *ngIf="RSV" size="3.5" class="content_center status-btn"
        [ngClass]="stageForm == 'leadclosedform'? 'bg_textColor':'status-btn'" (click)="actionChange('RSV')">
        <span class="fn">Reschedule</span>
      </ion-col>

      <ion-col size="3.5" *ngIf="rescheduledfn" [ngClass]="stageForm == 'junkform'? 'bg_textColor':'status-btn'"
        class="content_center junk status-btn" (click)="actionChange('FNUpdate')">
        <span>Update Visit</span>
      </ion-col>

      <ion-col size="3.5" *ngIf="Negotiation" [ngClass]="stageForm == 'junkform'? 'bg_textColor':'status-btn'"
        class="content_center junk status-btn" (click)="actionChange('Final Negotiation')">
        <span>FN</span>
      </ion-col>

      <ion-col size="3.5" *ngIf="leadclose && feedbackID != 1"
        [ngClass]="stageForm == 'junkform'? 'bg_textColor':'status-btn'" class="content_center junk status-btn"
        (click)="actionChange('Lead Closed')">
        <span>Closed</span>
      </ion-col>

      <ion-col size="3.5" *ngIf="JUNK" [ngClass]="stageForm == 'junkform'? 'bg_textColor':'status-btn'"
        class="content_center junk status-btn" (click)="actionChange('Move to Junk')">
        <span>Junk</span>
      </ion-col>
    </ion-row>
  </ion-card>
  <div>
    <app-retail-followupform *ngIf="followform" [selectedExecId]="selectedExecId">
    </app-retail-followupform>

    <app-svform *ngIf="svform" [selectedExecId]="selectedExecId" (openModal)="displaySuggProperty()"></app-svform>

    <app-usvform *ngIf="usvform" [selectedExecId]="selectedExecId" (openModal)="displaySuggProperty()"></app-usvform>

    <app-rsvform *ngIf="rsvform" [selectedExecId]="selectedExecId" (openModal)="displaySuggProperty()"></app-rsvform>

    <app-negoform *ngIf="finalnegoform" [selectedExecId]="selectedExecId"
      (openModal)="displaySuggProperty()"></app-negoform>

    <app-closedform *ngIf="leadclosedform" [selectedExecId]="selectedExecId"></app-closedform>

    <app-junkform *ngIf="junkform" [selectedExecId]="selectedExecId"></app-junkform>
  </div>
</ion-content>

<!-- SUGGESTED MODAL -->
<ion-modal id="suggested-modal" #suggModal trigger="open-custom-dialog">
  <ng-template>
    <div class="wrapper">
      <ion-row>
        <ion-col size="10">
          <span class="headSuggProp">Properties for Suggestions</span>
        </ion-col>
        <ion-col size="2" (click)="suggModal.dismiss()" class="ion-text-end">
          <ion-icon name="close"></ion-icon>
        </ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col>
            <ng-multiselect-dropdown (onSelect)="onSelectSuggProp($event)" (onDeSelect)="deSelectSuggProp($event)"
              [placeholder]="'Select Properties'" [settings]="dropdownSettings"
              [data]="properties"></ng-multiselect-dropdown>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col class="ion-text-right" (click)="addpropertiestolist()">
          <ion-button fill="clear" class="bg_textColor">Add to List</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-modal>