:host {
  background: #f9f9f9;
}

.pointer-event-none {
  pointer-events: none;
}
.opacity4 {
  opacity: 0.4;
}
.blurText {
  -webkit-filter: blur(1px);
}
.retailMandate {
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  width: 100%;
}
.activeHtype {
  border: 1px solid white;
  border-radius: 25px;
  background: white;
  color: #0b7ab2;
  margin: 2px;
  padding: 0;
}
.menu_icon {
  color: #0b7ab2;
}
.lead-card {
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: #e0f1ff;
}

.name-tag-row {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "Poppins";
}

.hot-tag {
  background: #ffe3d3;
  color: #ff5722;
  padding: 2px 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 6px;
}

.subtext {
  color: gray;
  font-size: 12px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: "Poppins";
}

.icon-row {
  display: flex;
  gap: 10px;
}

.leadMerged {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 7px;
  width: 100%;
  border-radius: 4px;
}

.icon-row {
  display: flex;
  gap: 4px;
}

.icon {
  font-size: 1rem;
  padding: 4px;
  border-radius: 50%;
  color: white;
}

.yellow {
  background-color: #ffc107;
}

.blue {
  background-color: #2196f3;
}

.green {
  background-color: #29a71a;
}
.play-btn-color-blue {
  background-color: #0b7ab2;
}
.received-date {
  color: rgba(0, 68, 102, 1);
  font-family: "Poppins";
  font-size: 16px;
  font-family: "Poppins";
}
.info-card,
.lead_source_card {
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.info-item {
  margin-bottom: 8px;
  font-size: 14px;
  font-family: "Poppins";
  color: #333;
  line-height: 1.23;
}
.merge-badge {
  float: right;
  border-radius: 25px;
  padding: 3px 6px;
  font-size: 10px;
  font-family: "Poppins";
  border: 1px solid #0b7ab2 !important;
  color: #0b7ab2 !important;
  background-color: rgba(11, 122, 178, 0.2705882353);
  display: flex;
  align-items: center;
}

.edit-lead-details {
  display: flex;
}
.edit-lead-details-popover {
  --max-width: 150px;
  padding: 10px;
  z-index: 20024;
}
.edit-lead-details-popover ion-content::part(scroll) {
  padding: 5px;
  background-color: 0.5px solid rgba(164, 215, 255, 1);
}
.enquiredDetails {
  background: rgba(11, 122, 178, 0.2);
  border-radius: 7px;
  padding: 0 10px;
}
.enqDetailsHeading {
  height: 22px;
  ion-col {
    padding-bottom: 0;
    color: #686868;
  }
}
.enqDetailsdata {
  height: 22px;
  ion-col {
    padding-top: 0;
    color: #000000;
  }
}
.lead-details {
  margin-top: 10px;
}
.lead-details > ion-row:first-child {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400px;
  color: rgb(0, 0, 0, 0.6);
}
.lead-details > ion-row:first-child ion-col {
  padding-bottom: 0;
}

.lead-details > ion-row:nth-child(2) {
  // padding: 0 5px;
  border: 1px solid #bebfc8;
  background: #e2f2ff;
  border-radius: 4px;
}
.lead-details > ion-row:nth-child(2) ion-input,
.lead-details > ion-row:nth-child(2) ion-select {
  font-size: 16px !important;
  color: rgb(0, 0, 0, 0.8);
  font-family: "Poppins";
  --padding-start: 5px;
}
.lead-details > ion-row:nth-child(2) ion-col {
  padding: 0;
  height: 36px;
}

ion-input {
  min-height: 36px !important;
  background: #fff !important;
}
ion-select::part(icon) {
  position: absolute !important;
  right: 10px !important;
}
ion-select {
  min-height: 36px;
  border: 1px solid #959da533;
  border-radius: 4px;
  font-family: "Poppins";

  background: #fff !important;
  border-radius: 4px;
}

ion-select::part(container) {
  font-size: 12px;
  font-family: "Poppins";
  color: #000000;
  padding-left: 5px;
}

.custom-textArea ion-textarea {
  height: 80px;
  border-radius: 4px;
  border: 1px solid #bebfc8;
}
::ng-deep .custom-textArea .native-wrapper {
  padding: 8px;
}
.cancel-btn div {
  border: 1px solid #2196f3;
  color: #2196f3;
  font-family: "Poppins";
  font-size: 18px;
  width: 100%;
  border-radius: 50px;
  padding: 5px;
}
.save-btn div {
  border: 1px solid #2196f3;
  color: #ffff;
  font-family: "Poppins";
  font-size: 18px;
  width: 100%;
  border-radius: 50px;
  background: #2196f3;
  padding: 5px;
}
.mergerModal_heading {
  color: #0b7ab2 !important;
  background-color: #0b7ab245;
}
.mergedLeadsInfo {
  background: #f4f4f4;
}
.lead-info {
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  background-color: #f0f9ff;
}
info-row-value {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: rgb(0, 0, 0, 0.6);
}
.info-row-heading {
  font-family: "Poppins";
  color: rgb(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 14px;
  background-color: #f0f9ff;
  line-height: 16px;
}
::ng-deep p-dropdown .p-inputwrapper span {
  padding: 10px;
  font-size: 12px;
  font-family: "Poppins";
}
::ng-deep
  .relationshipDropdown
  p-dropdown
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
}

::ng-deep .relationshipDropdown p-dropdown .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}
::ng-deep .relationshipDropdown p-dropdown .p-inputwrapper {
  width: 100% !important;
}
::ng-deep .p-element .p-dropdown-item {
  padding: 5px !important;
  font-size: 0.8rem;
}
.relationshipDropdown {
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  padding: 0;
}
.mergeModal ion-searchbar {
  --box-shadow: 39px !important;
  border: 1px solid #909090;
  border-radius: 6px;
  padding: 0;
}
::ng-deep .mergeModal .searchbar-search-icon.sc-ion-searchbar-md {
  display: none !important;
}
::ng-deep .mergeModal .searchbar-input.sc-ion-searchbar-md {
  -webkit-padding-start: 0;
  padding-inline-start: 4px;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-position: 0;
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  font-size: 12px;
  font-family: "Poppins";
}

.merge-footer ion-button {
  width: 100%;
}
.merge-footer {
  box-shadow: none;
}
.merge-footer ion-button {
  margin: 0;
  text-transform: none;
  font-family: "Poppins";
  font-size: 22px;
  color: white;
}
.merge-footer ion-row {
  margin: 0 10px 10px 10px;
  background-color: #c0c0c0;
  border-radius: 3px;
}
.assigned-card {
  border-radius: 4px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.assigned-header {
  font-weight: 500;
  color: rgba(11, 122, 178, 1);
  font-size: 16px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #f1f1f1;
}

.add-icon {
  font-size: 20px;
  font-family: "Poppins";
  color: rgba(11, 122, 178, 1);
  margin-left: 5px;
}

.assigned-content {
  border-top: 1px solid #e0e0e0;
  padding-top: 8px;
}

.assigned-row {
  font-size: 14px;
  font-family: "Poppins";
  padding-bottom: 8px;
  border-bottom: 1px solid #f1f1f1;
  color: #444;
}

.assigned-name {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.assigned-date {
  font-size: 12px;
  font-family: "Poppins";
  color: #777;
}
ion-modal#reassignModal {
  padding: 10px;
  --height: auto;
  --border-radius: 4px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#reassignModal .wrapper {
  margin-bottom: 10px;
}
.reassignButton {
  color: white;
  background-color: #0b7ab2 !important;
  border-color: #0b7ab2 !important;
  text-transform: none;
  font-family: "Poppins";
  border-radius: 4px;
}
.suggested-card {
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.suggested-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
  color: rgba(11, 122, 178, 1);
  margin-bottom: 4px;
  padding: 2px 6px;
}
.property-status {
  color: rgba(210, 142, 60, 1);
  font-weight: 600;
  font-size: 12px;
  font-family: "Poppins";
  font-family: "Poppins";
  line-height: 1;
}
.property-row {
  background-color: #fff7ed;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Poppins";
  color: #333;
  margin-bottom: 10px;
}

.row-top,
.row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-name {
  font-size: 14px;
  font-weight: 500;
}
.walkinAccom ion-col {
  font-size: 10px;
  font-weight: 400;
  font-family: "Poppins";
  color: #5c5c5c;
  padding-bottom: 0;
}
.dateName ion-col {
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
  padding-top: 0;
}
.leads-status-header {
  font-size: 16px;
  padding: 2px 6px;
  font-family: "Poppins";
  font-weight: 500;
  color: rgba(11, 122, 178, 1);
}
.status-btn {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  font-family: "Poopins";
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  background: rgba(241, 248, 254, 1);
  border: 0.5px solid rgba(11, 122, 178, 1);
  border-radius: 2px;
  margin: 5px;
  color: rgba(11, 122, 178, 1);
}
.status-btn.junk {
  border-radius: 2px;
  border-width: 0.5px;
  background: rgba(255, 218, 202, 1);
  border: 0.5px solid rgba(232, 76, 10, 1);
  color: rgba(232, 76, 10, 1);
}
.execName1 {
  margin: 5px 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  height: 24px;
  padding: 2px 6px;
  font-size: 0.8rem;
}
.execName1 img {
  padding: 2px;
}
.active_text_borederColor {
  color: red;
}
.text_borederColor {
  border: 1px solid #a5a5a5;
}
.dealClosedStyle {
  color: #0b7ab2;
  border: 1px solid #258cc7 !important;
}
.activity-card {
  padding: 7px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(11, 122, 178, 1);
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
}

.view-all {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgba(11, 122, 178, 1);
}

.activity-item {
  border-bottom: 1px solid #f1f1f1;
  padding: 0;
}

.activity-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0%;
  padding-bottom: 0;
}

.activity-time {
  color: rgba(11, 122, 178, 1);
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  padding-top: 4px;
}
.plan-card {
  padding: 8px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(11, 122, 178, 1);
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500;
}

ion-modal.viewMergedLedasModal {
  padding: 10px;
  --height: 70%;
  --border-radius: 4px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal.viewMergedLedasModal-modal .wrapper {
  margin-bottom: 10px;
}
.mergedLeadsInfo-value {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  color: #004568;
}
.mergedLeadsInfo-heading {
  font-family: "Poppins";
  color: #4c4c4c;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.merge_button {
  float: right;
  border-radius: 25px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #0b7ab2 !important;
  color: #0b7ab2 !important;
  background-color: #0b7ab245;
  display: flex;
  align-items: center;
}
.merge_button ion-img {
  padding-left: 5px;
}
.mergeModal {
  --height: 90%;
  padding: 10px;
}
.plan-property .plan-subtext {
  font-size: 10px;
  color: #777;
}
.planFixed-day-date {
  display: flex;
  justify-content: space-between;
}
.plan-right {
  font-size: 12px;
  color: #e68a00;
  font-weight: 500;
  white-space: nowrap;
  font-family: "Poppins";
}
.weekPlan div {
  padding: 3px;
  border-radius: 3px;
}
.weekPlan ion-col {
  padding: 1px;
}
.edit-confirm-plan-btn {
  margin: 10px;
}
.edit-confirm-plan-btn ion-col:first-child {
  margin-right: 5px;
}
.weekend > :first-child {
  background: rgba(11, 122, 178, 0.12);
  padding: 12px;
  margin: 10px;
}
.selected-border {
  border: 1px solid #0b7ab2 !important;
  color: #0b7ab2 !important;
}
.confirmCancel div {
  padding: 0 10px;
  border-radius: 4px;
}

.confirmCancel {
  margin-top: 10px;
}
.lead-name {
  font-size: 1.16rem;
  font-family: "Poppins";
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-family: "Poppins";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  min-height: 50px;
  border-left: 1px dashed #86d6ff;
  padding: 0 0 20px 30px;
  position: relative;
  color: black;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}
.history-tl-container ul.tl li:last-child {
  border-left: 0;
}
.history-tl-container ul.tl li::before {
  position: absolute;
  left: -10px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258cc7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}
.history-tl-container ul.tl li:hover::before {
  border-color: #258cc7;
  transition: all 1000ms ease-in-out;
}
.history-tl-container {
  margin: 0 20px;
}
.closureDetails {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#dealClosed {
  padding: 10px;
  --height: 75%;
  --border-radius: 4px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #0b7ab2;
  cursor: pointer;
  background-color: #ffff;
}
.approve-btn {
  background: #29a71a;
  color: #ffff;
  text-transform: none;
}
.reject-btn {
  background: #727272;
  color: #ffff;
  text-transform: none;
}
.requestedData {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  position: relative;
  border: 1px solid rgb(149, 157, 165, 0.2);
  margin-bottom: 10px;
}
.requestedData ion-input,
ion-input {
  padding-left: 5px !important;
}
.revertbutton {
  text-transform: none;
  font-family: "Poppins";
  --background: #0b7ab2;
  color: #fff;
}
ion-modal.unlockleadtomandate {
  --height: auto;
  --border-radius: 5px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
}

ion-modal.unlockleadtomandate::part(backdrop) {
  background: rgba(209, 213, 219);
}

ion-modal.unlockleadtomandate .unlockleadtomandateHeaderModal {
  background: #0b7ab2;
  color: white;
  padding: 5px;
}
#propertyDropdown {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 0;
}

::ng-deep p-dropdown.propDropdown .p-inputwrapper {
  width: 100% !important;
}

::ng-deep p-dropdown .p-inputwrapper span {
  padding: 5px;
  font-size: 12px;
  font-family: "Poppins";
}

::ng-deep p-dropdown.propDropdown .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}

::ng-deep
  p-dropdown.propDropdown
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
}

ion-modal#reassignModal ion-toolbar,
ion-modal.unlockleadtomandate ion-toolbar {
  --background: #0b7ab2;
  --color: white;
  --min-height: 44px;
}
#reassignModal ion-icon,
.unlockleadtomandate ion-icon {
  font-size: 30px;
}

#unit_number,
#dimension,
#rate_per_sqft {
  border: 1px solid rgba(149, 157, 165, 0.2);
  border-radius: 4px;
}
.propertyNames {
  gap: 4px;
  margin: 4px;
}
.commonbtnss {
  padding: 2px 6px;
}
.actionbtnss {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
  border: 2px solid lightgrey;
  font-size: 12px;
  font-family: "Poppins";
}
.actionss {
  font-size: 12px;
  font-family: "Poppins";
  border: 1px solid #0b7ab2;
  background-color: #0b7ab240;
  color: #0b7ab2;
  font-weight: 700;
}
.bookingDetails {
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.activeSaveButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.approve-reject-btn ion-col:first-child {
  border-radius: 3px 0 0 3px;
}

.approve-reject-btn ion-col:nth-child(2) {
  border-radius: 0 3px 3px 0;
}
.callLeadHistory ion-col {
  background: #f0f0f0;
}
.timeline-item {
  display: flex;
  position: relative;
  // flex-direction: column;
}
.date-header {
  background: #dff0ff;
  color: #1c6ea4;
  text-align: center;
  font-size: 4vw;
  font-weight: 500;
  margin: 12px 0;
}
.timeline-left {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dot {
  width: 8px;
  height: 8px;
  background: #666;
  border-radius: 50%;
}

.line {
  flex: 1;
  width: 1px;
  background: #ddd;
}
.time {
  font-size: 3.4vw;
  color: #555;
  margin-bottom: 4px;
}
.timeline-right {
  flex: 1;
}
.remarks {
  font-size: 3vw;
  color: #888;
  padding-bottom: 10px;
}
.text {
  font-size: 0.8rem;
  color: #222;
  line-height: 1.2;
}
.text_visiblity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: #000000;
  text-align: center;
  z-index: 9;
  font-weight: 500;
  font-size: 0.8rem;
  background: #fde4e4;
  color: #ca1f1f;
  line-height: 1.2;
  padding: 4px;
}
.play-icon {
  background: rgba(11, 122, 178, 0.2392156863);
  border-radius: 50px;
  font-size: 17px;
  cursor: pointer;
  color: #0074ae;
  padding: 0.4rem;
}
.accessRestricted {
  ion-icon {
    color: #940000 !important;
  }
  // border: 1px solid #940000;
  // background: #ffe3e3;
  // color: #940000;
}
.acess_restricted_class {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.access_restricted_text {
  color: #ca1f1f;
  font-weight: 500;
  font-size: 20px;
}
.btn_access {
  background: linear-gradient(180deg, #559d00 0%, #0c6d00 100%);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding-inline: 50px;
  padding-block: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.lead-label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.68rem;
}
.lead-value {
  font-size: 0.76rem;
}
ion-modal.callRecordingsModal {
  --height: 90%;
  padding: 10px;
  --border-radius: 4px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal.callRecordingsModal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

ion-modal.callRecordingsModal::part(backdrop) {
  background: rgb(53 53 55) !important;
  opacity: 0.9 !important;
}
audio::-webkit-media-controls-panel {
  background: rgba(183, 216, 233, 1);
}

audio::-webkit-media-controls-play-button {
  background-color: #fff;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: rgba(114, 114, 114, 1);
}
ion-modal.callConfirmationModal {
  padding: 10px;
  --height: 40%;
  --border-radius: 5px;
  //  --backdrop-opacity: 0.8;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.callConfirmationModal ion-header {
  font-family: "Poppins";
  box-shadow: none;

  ion-row {
    padding: 4px;
  }

  h3,
  ion-icon {
    font-size: 18px;
    color: #ffffff !important;
  }

  ion-icon {
    font-size: 30px;
  }
}

.callConfirmationModal ion-button {
  width: 100%;
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 18px;
  text-transform: none;
}

.callConfirmationModal ion-footer {
  box-shadow: none;
}

ion-modal::part(backdrop) {
  background: rgb(53 53 55) !important;
  opacity: 0.9 !important;
}

.headSuggProp {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
}
::ng-deep .selectProperty p-dropdown .p-inputwrapper .p-dropdown-label {
  font-family: "Poppins";
  font-size: 12px;
  padding: 5px;
}
::ng-deep .selectProperty .p-inputwrapper div chevrondownicon {
  width: 12px;
}
::ng-deep .selectProperty p-dropdown .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}

::ng-deep
  .selectProperty
  p-dropdown
  .p-inputwrapper
  p-overlay
  p-dropdownitem
  li {
  padding: 5px;
  font-size: 12px;
}

::ng-deep .selectProperty p-dropdown .p-inputwrapper {
  width: 100%;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  border-radius: 2px;
}
.assignLeaddselect {
  border: 1px solid #d8d8d8;
  font-size: 10px;
  font-weight: 400;
  min-height: 28px;
  font-family: "Poppins";
}
::ng-deep p-dropdown.teamSelectDropdown .p-inputwrapper {
  width: 100% !important;
}

::ng-deep p-dropdown.teamSelectDropdown .p-inputwrapper .p-dropdown-trigger {
  width: 30px !important;
}

::ng-deep
  p-dropdown.teamSelectDropdown
  .p-inputwrapper
  .p-dropdown-trigger
  chevrondownicon {
  width: 12px;
}

ion-modal#viewAssignLeadDetail {
  padding: 10px;
  --height: auto;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
.assignTaskHeading1 {
  height: 42px;
  align-items: center;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 500px;
  color: #0b7ab2;
}
.header {
  span {
    border-radius: 4px 4px 0 0;
    font-size: 0.8rem;
  }
}
.name {
  font-size: 0.8rem;
}
.assigned-title {
  background: #558fa8;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8rem;
  color: #ffffff;
  padding: 4px;
}
.not-assigned-title {
  background: #ffd7c7;
  color: #9d2728;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0%;
  padding: 4px;
}

.assigned-col div {
  border-bottom: 0.6px solid #8dcbe6;
  background: #fbfdff;
  padding-left: 4px;
}
.assigned-col {
  span {
    color: #005579;
  }
  p {
    color: #00293b;
  }
}

.assigned-col,
.not-assigned-col,
.untouched-div {
  span {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.66rem;
  }
  p {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 0.8rem;
  }
}
.not-assigned-col {
  .not-assigned-right-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    div {
      border-bottom: 1px solid #ffd8c9;
      background: #fff8f6;
      padding-left: 2px;
    }
  }
  .not-assigned-left-div {
    border-left: 1px solid #ffd8c9;
    border-right: 1px solid #ffd8c9;
    div {
      border-bottom: 1px solid #ffd8c9;
      background: #fff8f6;
      padding-left: 4px;
    }
  }
  span {
    color: #9d2728;
  }
  p {
    color: #620001;
  }
}

.untouched-title {
  background: #fff1c8;
  color: #624a00;
  font-size: 0.68rem;
}
.unto-item {
  font-family: "Poppins";
  font-weight: 400;
  font-style: Regular;
  font-size: 0.68rem;
}
.untouched-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span,
  p {
    color: #503c00;
  }
}
.untouched-row {
  ion-col {
    border-right: 1px solid #fff1c8;
  }
}
.accessRestricted {
  border: 1px solid #d8d8d8;
}

::ng-deep
  p-multiselect
  .p-inputwrapper
  .p-multiselect-label-container
  .p-multiselect-label {
  padding: 5px;
  font-size: 0.8rem;
  color: #606976;
}

::ng-deep p-multiselect .p-inputwrapper {
  width: 100% !important;
}

::ng-deep p-multiselect .p-inputwrapper .p-multiselect-trigger {
  width: 30px !important;
}

::ng-deep p-multiselect .p-inputwrapper .p-multiselect-trigger chevrondownicon {
  width: 12px;
}

::ng-deep .p-element .p-multiselect-item {
  padding: 5px !important;
  font-size: 0.8rem;
}

::ng-deep .p-multiselect-items-wrapper .p-multiselect-empty-message {
  padding: 4px;
  font-size: 12px;
  font-family: "Poppins";
}

::ng-deep .p-multiselect-header {
  padding: 5px;
}

p-multiSelect {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

:ng-deep .p-multiselect-panel .p-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-multiselect-panel .p-checkbox-box {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 18px;
  height: 18px;
}
ion-modal#suggested-modal {
  padding: 10px;
  --height: auto;
  --border-radius: 4px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#suggested-modal .wrapper {
  margin-bottom: 10px;
}
::ng-deep .dropdown-list li {
  padding: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  font-family: "Poppins";
}

::ng-deep ng-multiselect-dropdown .multiselect-dropdown .dropdown-list {
  position: relative;
  padding: 0;
  margin: 0;
}

::ng-deep ng-multiselect-dropdown .multiselect-dropdown .selected-item {
  font-size: 0.7rem;
  margin: 2px;
  max-width: none !important;
}

::ng-deep
  ng-multiselect-dropdown
  .multiselect-dropdown
  .dropdown-multiselect__caret {
  padding: 0;
}

::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  width: 26px !important;
  padding: 0;
}
.sugg_prop_add {
  background-color: #0b7ab2;
  color: #ffffff;
  border-radius: 30px;
  margin-left: 2px;
}
.callDisconnectedBg_color {
  background: linear-gradient(180deg, #f68e8e -66.17%, #b40101 100%);
}
.callRingingBg_color {
  background: linear-gradient(180deg, #fec855 -75.85%, #da8600 100%);
  color: white;
}

.callConnectedBg_color {
  background: linear-gradient(180deg, #29a71a 0%, #00713a 100%);
}

.priority {
  span,
  div {
    font-size: 0.7rem;
    font-family: "Poppins";
  }
  ion-img {
    padding-left: 2px;
  }
  display: flex;
  flex-direction: column;
}
.hot_txt {
  background: #ffe2d7;
  border: 0.6px solid #f2591f;
  width: fit-content;
  color: #f2591f;
  border-radius: 20px;
  padding: 0px 8px;
  font-size: 0.8rem;
  ion-img {
    width: 12px;
    padding-left: 2px;
  }
}
.warm_txt {
  background: #fff5d4 !important;
  border: 0.6px solid #f5bd00 !important;
  width: fit-content;
  color: #f5bd00;
  border-radius: 20px;
  padding: 2px 4px;
  font-size: 0.6rem;
  ion-img {
    width: 12px;
    padding-left: 2px;
  }
}
.cold_txt {
  background: #e4f6ff;
  border: 0.6px solid #008cd2;
  width: fit-content;
  color: #008cd2;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 0px 4px;
  ion-img {
    width: 12px;
    padding-left: 2px;
  }
}
.addPriority {
  display: flex;
  align-items: center;
  color: #960035 !important;
  font-weight: 0.8rem;
  ion-icon {
    color: #960035;
  }
}
.bottomposition_100 {
  bottom: 100px;
}
.bottomposition_60 {
  bottom: 60px;
}

.border-bottom {
  border-bottom: 1px solid #d7d7d7;
}
.blurred {
  filter: blur(1px);
  opacity: 0.5;
  pointer-events: none;
}
.exec-container {
  display: flex;
  flex-wrap: wrap; /* 🔥 this makes items go to next line */
  gap: 8px; /* spacing between items */
}

.execName2 {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0px 3px;
  white-space: nowrap;
  border-radius: 35px;
  font-size: 0.8rem;
}

.execName2 ion-icon {
  margin-top: 4px; /* small adjustment if needed */
  color: #00ba00;
  font-size: 14px;
}
.all-executive {
  padding: 0px 12px;
}

.dealClosedStyle .close_icon {
  color: #960035 !important;
}
.sourceList {
  border-bottom: 1px solid #f1f1f1;
}
